#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
#cssmenu ul li{
    margin: 2px 0;
}
#cssmenu ul li a span{
    color: #888;
    padding-left: 5px;
    font-size: 13px;
}
#cssmenu {
    color: #333;
    padding-top: 10px;
}
#cssmenu ul ul {
    display: none;
}
.align-right {
    float: right;
}
#cssmenu > ul > li > a {
    padding: 8px 15px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #333;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.open > a {
}
#cssmenu > ul > li.open > a {
    color: #f37021;
    background-color: #f6f6f6;
}
#cssmenu > ul > li:last-child > a,
#cssmenu > ul > li.last > a {

}
.holder {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.holder::after,
.holder::before {
    display: block;
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    right: 15px;
    z-index: 10;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.holder::after {
    top: 10px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
    border-color: #333;
    border:none;
}
.holder::before {
    top: 18px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-color: inherit;
    border-left-color: inherit;
}
#cssmenu ul ul li a {
    cursor: pointer;
    padding: 8px 15px 8px 25px;
    z-index: 1;
    text-decoration: none;
    font-size: 14px;
    color: #333;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
    background: #fff;
    color: #f37021;
}

#cssmenu ul li:hover > a,
#cssmenu ul li:active > a,
#cssmenu ul li:visited > a {
    /*  background: #fff;
      color: #f37021;*/
}

#cssmenu ul ul li:first-child > a {
    box-shadow: none;
}
#cssmenu ul ul ul li:first-child > a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#cssmenu ul ul ul li a {
    padding-left: 30px;
}
#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
    border-bottom: 0;
}
#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
}
#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
    border-bottom: 0;
}
/**#cssmenu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 15px;
  z-index: 10;
  top: 11.5px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}**/
#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
    border-color: #333;
}
/*************/

.woocommerce.widget_product_categories{
    border: 1px solid #eee;
    padding-bottom: 10px;
    margin-top: 10px;
}
.widget-title-h2{
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}
.refine-search{
    /* padding: 0 10px 0 15px; */
    border: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 20px;
}
#filter-group1,#filter-group2, #filter-group3, #filter-group4  {
    max-height: 200px;
    overflow: auto;
}
.sub-dropmenu{
    float: right;
    right: 10px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    z-index: 9;
    font-size: 10px;
    color: #aaa;
}
.sub-dropmenu[aria-expanded="false"]:before {
    content: "\f067";
}
.sub-dropmenu[aria-expanded="true"]:before {
    content: "\f068";
}
.refine-search .subheading{
    text-transform: capitalize;
    font-weight: normal;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 15px;
    border-bottom: #eee solid 1px;
    padding: 5px;
}
.filter-product-left{
    padding-right: 0 !important; 
    padding-left: 0 !important;
}
.refine-search .search-item {
    overflow: hidden;    
    padding: 10px;
}