.shop-page__info {
    background: #fff;
    padding: 0px 0;
    margin-bottom: 1px;
}

.section-seller-overview-horizontal__leading {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-radius: .4rem;
}

.section-seller-overview-horizontal__leading-background-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
}

.section-seller-overview-horizontal__leading-content {
    position: absolute;
    top: 15px;
    left: 20px;
    right: 20px;
    bottom: 15px;
}

.section-seller-overview-horizontal__seller-portrait {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.section-seller-overview-horizontal__seller-portrait-link {
    position: relative;
    display: block;
    height: 8rem;
    width: 8rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.section-seller-overview-horizontal__seller-portrait-link>.avatar-tp {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 8rem;
    width: 8rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: .4rem;
    border-color: hsla(0, 0%, 100%, .4);
    position: relative;
}

.avatar__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.section-seller-overview-horizontal__portrait-info {
    margin-top: 1rem;
    margin-left: 1rem;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.section-seller-overview-horizontal__portrait-name {
    font-size: 2rem;
    line-height: 2.4rem;
    max-height: 4.8rem;
    font-weight: 500;
    margin-bottom: .5rem;
    margin-top: 0;
    overflow: hidden;
    word-wrap: break-word;
}

.section-seller-overview-horizontal__portrait-status {
    font-size: 1.2rem;
}

.section-seller-overview-horizontal__active-time {
    vertical-align: middle;
    font-size: 1.5rem;
    color: #fff;
    margin: 1rem 0 .6rem;
}

.section-seller-overview-horizontal__buttons {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}

.section-seller-overview-horizontal__button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 1rem;
}

.section-seller-overview-horizontal__button>.button-outline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.5rem;
    color: #fff;
    border-color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button-outline--fill {
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.button-outline {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, .8);
}

.section-seller-overview-horizontal__seller-info-list {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap;
    /* Safari */
    flex-wrap: wrap;
    -webkit-align-items: stretch;
    /* Safari */
    align-items: stretch;
    justify-content: space-around;
}

.section-seller-overview__item-text {
    text-transform: capitalize;
}

.section-seller-overview__item-icon-wrapper, .section-seller-overview__item-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-seller-overview-horizontal .section-seller-overview__item .section-seller-overview__item-text {
    margin-top: 20px;
    margin-left: 20px;
}

.section-seller-overview-horizontal__leading-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: url(data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="2" /></filter></svg>#filter); */
    -webkit-filter: blur(2px);
    filter: blur(2px);
    margin: -4px;
}

.section-seller-overview-horizontal__seller-info-list.pdp-mod-review .mod-rating .summary {
    width: auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.section-seller-overview-horizontal__seller-info-list.pdp-mod-review .mod-rating .detail li {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

.section-seller-overview-horizontal__seller-info-list.pdp-mod-review .mod-rating .detail .label-1 {
    display: inline-block;
    width: 80px;
}

.section-seller-overview__item-text-value {
    color: #f37021;
}

.shop-page-menu .nav-tabs {
    border-bottom: none;
}

.wrap-content-shop-detail .tab-content {
    padding: 20px;
    font-size: 14px;
    line-height: 26px;
}

.mshop-title h2 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}

.wrap-content-shop-detail .pdp-mod-detail {
    line-height: 26px;
}

.shop-page-menu .nav li.active a, .shop-page-menu.nav li:hover a {
    list-style: none;
    background: #86bc42;
}

.title-cssx h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
}

.box-note {
    width: 100%;
    float: left;
    color: #2f5205;
    background: rgba(139, 195, 74, 0.2);
    padding: 20px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.title-cssx {
    margin-top: 15px;
}

.cmtshop {
    background-image: url(../images/cmt.jpg);
    background-size: 100%;
    width: 100%;
    height: 250px;
}

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 10px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}

.shop-page__info h1 {
    background: #fff;
    padding-bottom: 10px;
    margin: 10px 0px 0px 0;
    font-size: 22px;
    font-weight: 500;
    color: #5aa32a;
    line-height: 2
}

.fa-check-circle {
    color: #5aa32a;
    font-size: 20px;
}

.fa-ban {
    color: #f37021;
    font-size: 20px;
}

.img_nhanchungnhan {
    height: 30px!important;
    vertical-align: sub;
}

.cssx-product {
    margin-top: 20px;
    padding: 10px;
    background: #f4f4f4;
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
}

.like-cssx {
    width: 40%;
    display: inline-flex;
}

.button-remove-follow-cssx {
    border-color: #ff5722!important;
    color: #ff5722!important;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .09);
    width: 100%;
    display: none;
}

.button-report-cssx {
    /*border-color: #ff5722!important;*/
    color: #ff5722!important;
    background: transparent;
    border: none;
    width: 60%;
    display: inline-block;
}

.like-cssx span {
    padding-left: 8px;
}

.mod-rating-cssx {
    padding: 0px 15px 0 15px !important;
}

.sidebar-right-detail {
    float: right;
    width: 100%;
}

@media (max-width: 768px) {
    .sidebar-right-detail {
        padding: 12px;
        padding-top: 30px;
    }
}

.wrap-content-shop-detail .wrap-product.product-both {
    margin-top: 0
}

.i-user-question img {
    float: left;
    width: 50px;
    margin-right: 10px;
}

.img-certifications-shops {
    width: 25px !important;
    height: 25px !important;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer
}

/* Tooltip */

.img-certifications-shops+.tooltip>.tooltip-inner {
    background-color: #5aa32a;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 5px;
    font-size: 15px;
    z-index: 99999;
}

/* Tooltip on bottom */

.img-certifications-shops+.tooltip.bottom>.tooltip-arrow {
    border-bottom: 5px solid #5aa32a;
    z-index: 99999;
}

.organization-info>div>div>div:not(:nth-child(2)):not(:nth-child(3)) {
    border-top: 1px solid #dcdcdc82
}

.organization-info img {
    width: 100px;
    height: 80px;
}

.organization-info>div .row {
    margin-left: 0;
    margin-right: 0
}

.organization-info h4 {
    background: #a5d26c;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px
}