.blocks-contact{

}
.blocks-contact-title{
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-top: 15px;
}
.blocks-contact-title-conment{
    font-size: 16px;
    color: #333;
    margin-top:15px;
}
.blocks-contact-title h3 {
    font-size: 18px;
}
.blocks-contact-title h3:before {
    position: absolute;
    top: 95%;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ddd;
    left: 0;
}
.blocks-contact-title h3:after {
    position: absolute;
    top: 95%;
    content: '';
    width: 100px;
    height: 2px;
    background-color: #5aa32a;
    left: 0;
}
.blocks-document-title-1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.blocks-document-title-1 h3{
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    background: #5aa32a;
    color: #fff;
    padding: 7px 15px;
}
.group{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact_form{
    margin-bottom: 15px;
}
.contact_control{
    margin-bottom: 15px;
    display: block;
    width: 48%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    float:left;
}
.contact_control2{
    margin-bottom: 15px;
    display: block;
    width: 48%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    float:right;
}
.tree-contact{
    width: 48%;
    margin-bottom: 15px;
    float:left;
    margin-left:43px;
}
.contact_textarea{
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    float:left;
}
.button_contact{
    width: 100%;
}
.button_contact .right_contact{
    width: 40%;
    float:right
}
.right_contact .btnreset{
    font: Bold 14px/40px Arial;
    color: #fff;
    float: right;
    display: table;
    padding: 0 25px;
    background: #c5c5c5;
    border-radius: 10px;
}
.right_contact .btnsubmit{
    background: #4aa02c;
}
.button_contact .left_contact{
    width: 50%;
    font: Italic 13px/20px Arial;
    color: #999;
    float: left;
}
.left_contact span{
    color: red;
}
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.formcontact input, .formcontact select {
    height: 38px;
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 3px 5px;
    border: 1px solid #ccc;
    color: #333;
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
    font-family: arial;
}
.formcontact textarea{
    border: 1px solid #ccc;
    color: #333;
    box-shadow: none;
    border-radius: 0;
}
.form-inline.searchlh input {
  vertical-align: middle;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 38px;
}
.form-inline.searchlh{
    margin-top: 15px;
}

/* Style the submit button */
.form-inline button {
  padding: 9px 15px;
  background-color: #5aa32a;;
  color: white;
  border:none;
  height: 38px;
}

.form-inline button:hover {
  background-color: #5aa32a;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
.formcontact .btn-success {
    background-color: #5aa32a !important;
    border: 1px solid #5aa32a !important;
    color: white;
    height: 36px;
    border-radius: 4px;
    box-shadow: none;
}
.formcontact .btn-default1{
    background-color: #aaa !important;
    border: 1px solid #aaa !important;
    color: white;
    height: 36px;
    border-radius: 4px;
    margin-left: 10px;
    box-shadow: none;
}