.docs-table thead  th {
    background-color: #5aa32a !important;
    font-weight: bold;
    border-top: solid 1px #5aa32a;
    border-left: solid 1px #5aa32a;
    border-right: 1px solid #5aa32a;
    height: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
}
.blocks-document{
    padding-top: 0px;
}
.blocks-document-title{
    margin-top: 15px;
    position: relative;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.blocks-document-title h3 {
    font-size: 18px;
}
.blocks-document-title h3:before {
    position: absolute;
    top: 95%;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ddd;
    left: 0;
}
.blocks-document-title h3:after {
    position: absolute;
    top: 95%;
    content: '';
    width: 100px;
    height: 2px;
    background-color: #5aa32a;
    left: 0;
}
docs-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.docs-table tr td {
    border-top: 1px solid #5aa32a;
    border-left: 1px solid #5aa32a;
    vertical-align: middle;
    padding: 5px;
}
.docs-table tr td:last-child {
    border-right: 1px solid #5aa32a;
}
.docs-table tr:last-child td {
    border-bottom: 1px solid #5aa32a;
}
.docs-title{
    margin-top: 20px;
    margin-bottom: 10px;
    /*color: #5aa32a;*/
}
.docs-content-detail tr td {
    border-top: 1px solid #004f80;
    border-left: 1px solid #004f80;
    vertical-align: middle;
    padding: 5px;
}
.docs-content-detail tr td:last-child {
    border-right: 1px solid #004f80;
}
.docs-content-detail tr:last-child td {
    border-bottom: 1px solid #004f80;
}
.list-docs{
    padding-bottom: 30px;
}
.searchVB{
    background: #5aa32a none repeat scroll 0 0 !important;
    display: table;
    padding: 1px 3px 3px;
}
.searchVB .head {
    color: white;
    font-weight: 500;
    padding: 8px 15px;
    text-transform: uppercase;
}
.searchVB .bg {
}
.searchVB .container {
    width: 100%;
    display: inline-block;
    clear: both;
    background: #fff;
    padding: 20px;
}
.padding_search{
    padding-top: 15px;
}
.searchVB .row {
    display: inline-block;
    clear: both;
    text-align: center;
}
.searchVB .row-end {
    width: 100%;
    text-align: center;
}
.searchVB .label1 {
    float: left;
    width: 39%;
    padding-top: 5px;
    text-align: right;
    padding-right: 10px;
    font-weight: normal;
}
.searchVB .control {
    float: left;
    width: 60%;
}
.searchVB .control input, .searchVB .control select {
    height: 38px;
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 3px 5px;
    border: 1px solid #ccc;
    font: normal 10pt 'Roboto',Arial,Helvetica,sans-serif;
    color: #333;
    box-shadow: none;
    border-radius: 0;
}
.grid-doc{
    margin-top: 20px;
}
.grid-doc .media {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.box-right-news-document .blocks-document-title h3{
    background-color: #5aa32a;
    color: #fff;
    padding: 7px 15px;
}