.thumb-product-like-user.item {
    font-family: "Roboto", Arial, sans-serif;
    background: #fff;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.modul-name1{
    background: #f4f4f4;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", Arial, sans-serif;
    margin: 15px 0;
    color: #5aa32a;
}
.thumb-product-like-user.item .img {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 180px;
}

.thumb-product-like-user.item2 .img {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 180px;
    border-bottom: none;
}

.thumb-product-like-user.item .wrap-info {
    height: auto;
    padding: 5px 8px 0px 8px;
    position: relative;
    z-index: 2;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-align: center;
}

.thumb-product-like-user.item h3 {
    margin: 0px 0px 3px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.1;
    padding: 5px 0px 0px;
    max-height: 52px;
    font-family: Roboto !important;
    font-size: 15px;  
}

.thumb-product-like-user.item2 .img {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 120px;
    border-bottom: none;
    text-align: center;
}
.user_follow_margin{
    margin-bottom: 25px;
}

.thumb-product-like-user.item2 .wrap-info {
    height: auto;
    position: relative;
    z-index: 2;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-align: center;
}

.thumb-product-like-user.item2 h3 {
    margin: 0px 0px 3px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.1;
    padding: 5px 0px 0px;
    max-height: 52px;
    font-family: Roboto !important;
    font-size: 13px;  
}
.paginate{
    float:right;
}

.modul-name {
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto", Arial, sans-serif;
    padding:10px 20px 10px 20px;
    border-bottom: 1px solid #eee;
}

.destroy{
    height: 23px;
    width: 23px;
    border: 1px solid #fff;
    background-color: #faa149;
    position: absolute;
    top: -10px;
    right: 5px;
    cursor: pointer;
    border-radius: 100%;
    font-size: 0;
    color: transparent;
    z-index: 9999;
}

.destroy::before{
    content: "";
    position: absolute;
    width: 11px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.destroy::after{
    content: "";
    position: absolute;
    width: 11px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
/***/
.thumb-product-like-user.item h3 a, .thumb-cs-like-user.item h3 a{
    color: #333;
    font-style: 13px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.4;
}
.thumb-product.thumb-cs-like-user.item .img {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 120px;
}

/*************show order*******************/
.order_box .fa{
    width: 30px;
    color: #999;
}
.user-container p {
    font-size: 14px;
}
.user-container {
    background-color: white;
    padding: 20px;
    font-family: "Roboto", Arial, sans-serif;
}
#cart.table {
    font-family: "Roboto", Arial, sans-serif;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}
.user-container .box-info{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    font-style: 14px;
}
.bb-double{
    background: #f4f4f4;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto", Arial, sans-serif;
    margin: 0 0 15px 0;
    color: #5aa32a;
    text-transform: uppercase;
}
.bb-double .fa.fa-comments-o{
    margin-right: 5px;
}
.box_chat.force-overflow{
    height: 200px;
    overflow: auto;
}

.chat_item { width: 100%; float: left; margin-bottom: 15px;
    font-size:14px;
    padding: 0 20px;
}
.chat_item p { font-size: 14px; margin-bottom: 5px;}
.chat_item .info-chat{
    font-size: 12px;\
    font-weight: 300;
    color: #888;
}
.box_comment .btn_send{
    float: right;
    width: 80px;
    border-radius: 4px;
}