/**----------------------------Gio Hang Click 1---------------------*/
.cart-page-product-header, .cart-page-product-header__checkbox-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.cart-page-product-headers {
    margin-top: 20px;
    display: -webkit-flex;
    display: flex;
    color: #999;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 22px;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.09);
    border-radius: .3rem;
    margin-bottom: 1.2rem;
}
.cart-page-product-header{
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 0%;
}
.cart-page-product-header:first-child {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    flex-grow: 2;
}   
.cart-page-product-header__title{
    font-size: 1.8rem;
    color: #222;
}
.cart-page-product-header:last-child {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}
.cart-page-product-header__action {
    text-align: right;
}
.cart-page-shop-header__shop-name{
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
}
.cart-page-shop-header__shop-name:before{
    content:'\f291';
    font-family: 'FontAwesome';
}
.cart-page-shop-header {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.09);
    padding: 15px 20px;
}
.cart-page-shop-section__items {
    background-color: #fff;
}
.cart-item {
    padding: 15px 22px;
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    align-items: flex-start;
    border-bottom: .1rem dashed rgba(0,0,0,.09);
}
.cart-item:last-child{
    border-bottom: none;
}
.cart-item__head {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-item__head:last-child{
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #d9534f;
}
.cart-item__cell-unit-price{
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
}
.cart-item__cell-overview{
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-grow: 2;
    align-items: flex-start;
}
.img-cart{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.cart-item__cell-overview img{
    float: left;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.checkout-product-ordered-list-item-shop-info__chat-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #31b142;
    margin-left: 1rem;
    border-left: 1px solid rgba(0,0,0,.09);
}
.checkout-product-ordered-list-item-shop-info__chat-button .fa-comments{
    padding-left: 10px;
    font-size: 18px;
    padding-right: 5px;
}
.cart-item__unit-price--before {
    color: rgba(0,0,0,.54);
    text-decoration: line-through;
}

.cart-item__action {
    cursor: pointer;
    background: none;
    border: none;
}
.cart-page-shop-section {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 15px;
    overflow: visible;
}
.cart-page-footer{
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.09);
}
.ct-card{
        display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 12px 22px;
    -webkit-flex-direction: reverse; /* Safari */
    flex-direction:         reverse;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
    flex: 1;
    width: 100%;
}
.cart-page-footer__first-summary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    text-align: right;
        justify-content: flex-end;
}
.cart-page-footer-summary__subtotal-amount {
    font-size: 3rem;
    line-height: 3rem;
    margin-left: .5rem;
    color: #ff5722;
}
@media (max-width: 480px){
    .cart-item{
        display: inline-grid;
        width: 100%;
    }

    .cart-item__head{
        justify-content: flex-end;
    }
    .cart-item__head:first-child{
        justify-content: flex-start;
    }
    .cart-item__cell-unit-price {
        -webkit-flex-direction: initial;
        flex-direction: initial;
    }
    .cart-item__unit-price--after{
        margin-right: 10px;
    }
}
@media (max-width: 640px){
    .cart-page-footer-summary__subtotal-amount {
        font-size: 2rem;
    }
}
.cart-page-footer__summary{
    line-height: 32px;
    text-align: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0
}
.cart-page-footer__checkout{
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button-solid {
    padding: 10px 20px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    background: #ff5722;
    border: none;
    text-transform: capitalize;
    color: #fff;
    width: 100%;
    border-radius: 3px;
}
.button-solid-organi {
    padding: 5px 20px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300;
    background: #ff5722;
    border: none;
    text-transform: capitalize;
    color: #fff;
    /*width: 100%;*/
    border-radius: 3px;
}
.cart-page-footer__gap{
    font-weight: bold;
    padding: 0px 10px 10px 0px;
}
.cart-page-footer-summary__subtotal-text{
}
.magiamgia{
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 22px;
    border-bottom: 1px dashed #eee;
    -webkit-flex-direction: reverse; /* Safari */
    flex-direction:         reverse;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}
.magiamgia .label-magiamgia {

}
.input-with-validator-wrapper {
    margin-left:20px;
}
.input-with-validator{
    align-items: center;
    background-color: #fff;
    border-radius: .2rem; 
    border: 1px solid rgba(0,0,0,.14);
    height: 40px;
    padding: 8px 10px;
}
.input-with-validator input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.4rem;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
}
.stardust-button{
    height: 40px;
    background-color: #f4f4f4;
    border:1px solid #eee;
    padding: 8px 20px;
    text-transform: capitalize;
    text-decoration: capitalize;
    border-radius: 3px;
    margin-left: 10px;
}

/**----------------------------Gio Hang Click 2---------------------*/
.checkout-address-selection__container {
    padding: 1.4rem 2.4rem;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
}

.checkout-address-selection__selected-address-summary {
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:wrap;
    display: -webkit-flex; /* Safari */
    display: flex;
    font-size: 16px;
}
.checkout-address-row__user-detail {
    font-weight: 700;
    color: #222;
    margin-right: 3rem;
}
.checkout-address-row__address-summary {
    margin-right: 3rem;
}
.checkout-address-row__default-label {
    font-size: 1.4rem;
    font-weight: 500;
    color: #929292;
    margin-right: 3rem;
    text-transform: capitalize;
}
.checkout-address-selection__change-btn {
    color: #05a;
    text-transform: uppercase;
    /*margin-left: 6rem;*/
    font-weight: 500;
    cursor: pointer;
    float: right;
}
.checkout-address-selection__section-header-text {
    font-size: 1.8rem;
    color: #ff5722;
    margin-bottom: 1rem;
    text-transform: capitalize;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.checkout-product-ordered-list {
    margin-top: 1.2rem;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.05);
    border-radius: .3rem;
}

.checkout-product-ordered-list__headers {
    display: -webkit-flex; /* Safari */
    display: flex;
    color: #999;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
    background-color: #fff;
    padding: 15px 22px;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.09);
    border-radius: .3rem;
    margin-bottom: 1.2rem;
}
.checkout-product-ordered-list__header:first-child {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    flex-grow: 2;
}
.checkout-product-ordered-list__title {
    font-size: 1.8rem;
    color: #222;
}
.checkout-product-ordered-list__header--subtotal, .checkout-product-ordered-list__header--variation {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.checkout-product-ordered-list__header:last-child {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.checkout-product-ordered-list__header {
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 0%;
}

/**/
.checkout-product-ordered-list-item__items {
    border-bottom: .1rem dashed rgba(0,0,0,.09)
}
.checkout-product-ordered-list-item__item {
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    padding: 10px 22px;
}
@media (max-width: 480px){
    .checkout-product-ordered-list-item__product-image{
        display: none;
    }
}
.checkout-product-ordered-list-item__product-info{
    margin-right: 15px;
}
.checkout-product-ordered-list-item__header:first-child {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-grow: 2
}
.checkout-product-ordered-list-item__product-image{
    margin-right: 10px;
}
.checkout-product-ordered-list-item__header--variation {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    color: #929292;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.checkout-product-ordered-list-item__header {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.checkout-product-ordered-list-item__header:last-child {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.checkout-shop-order-group {
    background: #fff;
}
.checkout-product-ordered-list__content>.checkout-shop-order-group {
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.09);
    border-radius: .3rem;
    overflow: hidden;
}

/***/
.pnDd_u {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: none;
    min-width: 0;
    min-height: 0;
    padding: 10px 22px;
}
.checkout-product-ordered-list .stardust-input {
    margin-left: 1.5rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.checkout-product-ordered-list-item__action:last-child {
    border-left: .1rem dashed rgba(0,0,0,.09);
}
.checkout-product-ordered-list-item__action{
    display: -webkit-flex; /* Safari */
    display: flex;   
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
    border-bottom: 0.1rem dashed rgba(0, 0, 0, 0.09);
}
.checkout-product-ordered-list-item__action--left{
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
}
.checkout-product-ordered-list-item__action--right {
    padding: 10px 22px;
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -moz-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
    align-items: center;
    justify-content: flex-end;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap:         nowrap;
    border-left: 0.1rem dashed rgba(0, 0, 0, 0.09);
}
._3O6TuO {
    color: #31b142;
}
._1bznOC {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 500;
    white-space: nowrap;
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}
._2EpcR2 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    -ms-grid-column-span: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-row-span: 1;
    margin-top: .5rem;
}
._2fBFGd {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-transform: uppercase;
    color: #05a;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-row-span: 1;
    text-align: right;
    padding-right: 3rem;
}
._3xtFC3 {

}
.checkout-product-ordered-list .stardust-input input {
    width: 100%;
    height: 4rem;
}
.page-checkout .stardust-input input {
    background: #fff;
    border: .1rem solid rgba(0,0,0,.14);
    box-shadow: inset 0 0.2rem 0 0 rgba(0,0,0,.02);
    border-radius: .2rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .4rem 1.2rem;
}
.info-order-organi {
    background-color: rgb(250, 253, 255);
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 1rem;
    padding: 22px 19px 22px 22px;
    border-bottom: 1px solid #a9a9a97a;
}
.info-order-organi-end {
    background-color: rgb(250, 253, 255);
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    height: 7.3rem;
    padding: 22px;
}
.total-price {
    font-size: 1.4rem
}
.price-organi {
    margin-left: 2rem;
    font-size: 2rem;
    color: rgb(255, 87, 34);
}
.info-price-order{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 0.9;
}
.checkout-product-ordered-list__content>.checkout-product-ordered-list-item+.checkout-product-ordered-list-item, .checkout-product-ordered-list__content>.checkout-shop-order-group+.checkout-product-ordered-list-item, .checkout-product-ordered-list__content>.checkout-shop-order-group+.checkout-shop-order-group {
    margin-top: 1.2rem;
}
/****/
.page-checkout__payment-order-wrapper {
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0 0 rgba(0,0,0,.05);
    margin-bottom: 1.2rem;
    background-color: #fff;
}
.checkout-payment-method-view {
    margin-top: 1.2rem;
    background: #fff;
}
.checkout-payment-method-view__current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 9rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 22px;
    padding-right: 22px;
}
.checkout-payment-method-view__current-title--wide-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.checkout-payment-method-view__current-title {
    font-size: 1.8rem;
    width: 20rem;
    color: #222;
}
.checkout-payment-method-view__current-type {
    font-size: 1.4rem;
    color: #222;
}
.checkout-change-payment-method-button {
    color: #05a;
    text-transform: uppercase;
    margin-left: 6rem;
    font-weight: 500;
    cursor: pointer;
}

._15yJ8G {
    background: #fffefb;
    border-top: .1rem solid #f1f0ed;
    padding-top: 1.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr max-content max-content;
    grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
    grid-template-columns: 1fr max-content max-content;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
}
._2zL0kh {
    -ms-grid-row: 11;
    grid-row-start: 11;
    grid-row-end: 12;
    -ms-grid-row-span: 1;
}

._6oX3Z8 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-column-span: 1;
}
._1dPxyW {
    font-size: 1.4rem;
    color: rgba(0,0,0,.54);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._2zL0kh {
    -ms-grid-row: 11;
    grid-row-start: 11;
    grid-row-end: 12;
    -ms-grid-row-span: 1;
}

._3wN10o {
    padding: 0 2.5rem 0 1rem;
    height: 4rem;
    min-width: 10rem;
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-column-span: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._1dPxyW {
    font-size: 1.4rem;
    color: rgba(0,0,0,.54);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._3i0Vxz {
    -ms-grid-row: 12;
    grid-row-start: 12;
    grid-row-end: 13;
    -ms-grid-row-span: 1;
}
._6oX3Z8 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-column-span: 1;
}
._3i0Vxz {
    -ms-grid-row: 12;
    grid-row-start: 12;
    grid-row-end: 13;
    -ms-grid-row-span: 1;
}

._3wN10o {
    padding: 0 2.5rem 0 1rem;
    height: 4rem;
    min-width: 10rem;
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-column-span: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._1ggtDe {
    -ms-grid-row: 21;
    grid-row-start: 21;
    grid-row-end: 22;
    -ms-grid-row-span: 1;
}
._3zdU5_ {
    height: 5rem;
    font-size: 2.8rem;
    color: #ff5722;
}
._3wN10o {
    padding: 0 22px 0 1px;
    height: 4rem;
    min-width: 10rem;
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-column-span: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
._2mQ_1y {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-column-span: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 9.5rem;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 22px;
    border-top: .1rem dashed rgba(0,0,0,.09);
    margin-top: 1rem;
}
._2B7oN3 {
    -ms-grid-row: 22;
    grid-row-start: 22;
    grid-row-end: 23;
    -ms-grid-row-span: 1;
}

._dathang{
    border-top: .1rem dashed rgba(0,0,0,.09);
    background-color: #fff;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
    height: 9rem;
    padding-left: 22px;
    padding-right: 22px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    margin-top: 12px;
}
.page-checkout .stardust-button--primary {
    background: #ff5722;
    color: #fff;
    border: .1rem solid rgba(0,0,0,.09);
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.03);
    border-radius: .2rem!important;
    text-transform: capitalize;
    outline: none;
    padding: 8px 20px;
    font-size: 16px;
}
.ship-type-text{
    font-weight: 400;
}
.info-order-ship {
    background-color: rgb(250, 253, 255);
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    height: 3.3rem;
    padding: 15px 22px;
}
.info-price-right{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 0.2;
    text-align: right;
}
.form-check-label{
    display: contents !important;
}
.button-solid-organi{
    float: right;
}