body{
	line-height: 1.5;
}
 h4, h5{
	line-height: 1.5;
}
h1, h2, h3{
	line-height: 1.4;
}
.help-center-top {
    padding: 0 0 35px;
    margin: 0 auto;
    background: url(../images/help.jpg) no-repeat 50% 50%;
    background-size: auto 100%;
    height: 200px;
    color: #fff;
    font-size: 18px;
}
.help-center-content {
	display: flex;
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: column; /* Safari */
  	flex-direction: column;
  	justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*tự xuống hàng nếu thiếu chỗ*/
    align-content:center;/*các thành phần ở giữa khung*/
    height: 200px;
}
.help_title {
    color: rgb(255, 255, 255);
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 10px;
    text-shadow: rgba(128, 128, 128, 0.8) 0px 1px 2px;
}
@media (max-width: 600px){
	.help-center-top{
		font-size: 14px;
	}
	.help_title{
		font-size: 20px;
		line-height: 24px;
	}
}
button{
	outline: none;
}
.btn-help, .btn-help:hover, .btn-help:active, .btn-help:visited{
	padding: 12px 30px;
	background-color: #31b142;
	color: #fff;
	border:none;
	box-shadow: none;
	outline: none;
	margin-top: 5px;
}
.help-center-linked-list {
	margin-top: 30px;
	margin-bottom: 50px;
}
.help-center-linked-list-columns{
	margin-top: 15px;
}
.help-center-linked-list-columns li{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #eee;
}
.help-center-linked-list-columns li:nth-last-child{
	border-bottom: none;
}
.help-li{
	display: flex;
	align-items:center;
	align-content:center;
	justify-content: flex-start
}
.icon-help-li{
	-webkit-flex-basis: 50px; /* Safari 6.1+ */
    flex-basis: 50px;
    max-width: 50px;
    min-width: 50px;
}
.icon-help-li img{
}
.wrap-help-li{
	margin-left: 20px;
}
.help-center-link{
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	margin-top: 0;
	margin-bottom: 0
}
.info-help .fa{
	color: #ccc;
	margin-right: 5px
}
.info-help, .info-help a{
	color: #999;
	position: relative;
	font-size: 12px;
}
/***/
.help-center-topic{
	margin-top: 30px;
	margin-bottom: 50px;
}
.help-center-topic-tit{

}
.help-center-topic-list{
	margin-top: 15px;
}
.help-center-topic-list-item{
	border:1px solid #eee;
	padding: 10px;
	border-radius: 5px;
	margin-top: 12px;
}
.help-center_link{

}
.help_icon-wrapper img{
	width: 35px;
	margin-right: 15px;
}
.help-link-text{
	font-size: 18px;
}
.h3-help{
	position: relative;
	padding-bottom: 15px;
}
.h3-help:before{
    position: absolute;
    top: 100%;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #28b241;
}
/************************************************************/
.reply-wrap{
	margin-top: 30px;
}


.help-1{
	margin-bottom: 20px;
}
.help-1 h3{
	font-size: 24px;
	font-weight: normal;
}
.repli-content{
	border-top:1px dotted #eee;
	margin-top: 20px;
	padding-top: 20px;
	font-size: 16px;
}
.lienquan{
	margin-top: 50px;
}
.list-chlq{
	margin-top: 20px;
}
.list-chlq li{
	padding-top: 5px;
	padding-bottom: 5px;
}
.reply-who{
	text-align: right;
	margin-top: 15px;
	color: #666;
}
