.need-buy-center-top{
	width: 100%;
	padding:10px 15px;
    background-color: #f6f6f6;
}
.Grid--gutters {
    margin-left: -1em;
}

.u-textCenter {
    /**text-align: center;**/
}
.Grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.Grid--gutters .Grid-cell {
    padding-left: 1em;
}
.Grid--cols-4 > .Grid-cell {
    flex: 0 0 100%;
}
@media (min-width: 360px){
	.Grid--cols-4 > .Grid-cell {
	    flex: 0 0 calc(53% - 1em);
	}
}
.chatnow, .chatnow a{
	color: #f37021;
	margin-bottom: 6px;
}
.area{
	color: #28b241;
}
.chatnow .fa-comments, .area .fa-map-marker{
	font-size: 16px;
	width: 30px;
	text-align: center;
}


@media (min-width: 660px){
	.Grid--cols-4 > .Grid-cell {
	    flex: 0 0 calc(35% - 1em);
	}
}

@media (min-width: 1024px){
	.Grid--cols-4 > .Grid-cell {
	    flex: 0 0 calc(21.11% - 1em);
	}
}
/**
@media (min-width: 1024px){
	.Grid--cols-2 > .Grid-cell, .Grid--cols-3 > .Grid-cell, .Grid--cols-4 > .Grid-cell, .Grid--cols-6 > .Grid-cell, .Grid--cols-12 > .Grid-cell {
	    flex: 1;
	}
}
**/
.buy-center-linked-list {
    margin-top: 15px;
    margin-bottom: 50px;
}
.buy-center-linked-list-columns {
 }
.h3-buy {
    position: relative;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.h3-buy:before {
    position: absolute;
    top: 100%;
    content: '';
    width: 80px;
    height: 2px;
    background-color:#5aa32a;
}
.item-buy{
    padding: 0px 0;
    margin-bottom: 10px;
    /**background: #ecf9e0;
    border: 1px solid #c1e4a1;
    border-radius: 3px;**/
}
.post-link{
	font-size: 16px;
    font-weight: normal;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
.item-buy a{
	color: #5aa32a;
	font-weight: 500;
}
.item-buy:before{
	content:'\f105';
    font-family: 'FontAwesome';
    padding-right: 6px;
    color: #5aa32a;
    font-size: 16px;
}
.news-buy{
    display: flex;
    align-items: top;
    align-content: top;
    justify-content: flex-start;
}
.buy-center-linked-list-columns li {
    border-bottom: 1px solid #eee;
    padding:10px
}
.buy-center-linked-list-columns li:nth-child(2n+1) {
    background-color: #fff;
}
.buy-center-linked-list-columns.left-column li:nth-child(2n+1) {
	background-color: #fff;
}
.buy-center-linked-list-columns.right-column li:nth-child(2) {
	background-color: #fff;
}
.buy-center-linked-list-columns li:last-child{
	border-bottom: none;
} 
.icon-buy-li {
    -webkit-flex-basis: 50px;
    flex-basis: 50px;
    max-width: 80px;
    min-width: 80px;
    
}
.icon-buy-li img{
	border-radius: 3px;
}
.wrap-buy-li {
    margin-left: 20px;
}
.wrap-buy-li h4{
	margin: 0
}
.info-buy, .info-buy a{
	margin-top: 5px;
	color: #999;
	font-size: 12px;
}
.post-desc{
	padding-top: 5px;
	font-size: 12px;
}
.text-r{
	padding-top: 15px;
	text-align: right;
	padding-bottom: 15px;
}
.post-price{
	color: #f37021;
	font-size: 16px;
	margin-top: 5px;
	font-weight: 500;	
}
.lh{
	padding: 6px 0;
	font-weight: 500;
	float: right;
	border-radius: 4px;
	color: #5aa32a;
	margin-top: 5px;
}
.buy-left{
	padding-left: 0
}
.item-img img{
	text-align: center;
}
.ncc-rightlist .pull-left {
	width: 35%;
	border:1px solid #eee;
	margin-right: 10px;
	text-align: center;
  	padding-right: 0
 }	
.ncc-rightlist .media-heading{
	font-size: 14px;
}
.ncc-center-topic {
    margin-bottom: 30px;
    margin-top: 20px
}
.wrap-ncc-r{
	margin-top:20px;
}
.head-buy{
	position: relative;
}
.button-dangtin{
	padding: 7px 15px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    background: #f37021;
    border: none;
    text-transform: capitalize;
    color: #fff;
    border-radius: 4px;
}
.dangtin{
}
.ncc-rightlist{
	margin-bottom: 10px;
}
.row.is-flex1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/****************************************/
.titleBar{
	font-size: 30px;
}
.messageUserBlock{
	margin-top: 20px;
	background-color: #f0f7fc;
	border: 1px solid #d7edfc;
	border-radius: 4px;
	padding: 10px;
}
.userTitle{
	font-weight: bold;
	margin-top: 10px;
	text-transform: capitalize;
}
.area1{
	    color: #28b241;
}
.content-muaban{
	margin-top: 20px;
	font-size: 16px;
}
.news-buy-main{
	margin-top: 20px;
}
.span-label{
	color: #f37021;
	padding-left: 10px;
	font-size: 22px;
	font-weight: 500;
}
.area1 .fa-map-marker, .sdt-buy .fa-phone{
	margin-right: 10px;
}
.sdt-buy{
	font-weight: 500;
	color: #f37021;
}
.gia, .soluong{
	margin-top: 8px;
}
.chitiet-buy{
	margin-top: 30px;
}
.ngaydang{
	font-size: 14px;
	color: #999;
}
.datejoin, .area1, .sdt-buy{
	margin-top: 5px;
}
.avatarHolder{
	margin: 0 auto;
	text-align: center;
}
@media (max-width: 480px){
	.col-100{
		width: 100%
	}
	.messageUserBlock{
		text-align: center;
	}
}

/**************ketnoicungcau****************/
.search-kncc{
	padding: 15px 0 15px 15px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #eee
}
.search-kncc .form-inline{
	    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.search-kncc .form-control, .search-kncc .input-group{
	width: 95%;
}
.search-kncc .form-control{

	border-radius: 0;
	border:1px solid #ddd;
	box-shadow: none;
}
.search-kncc .input-group-addon {
    padding: 6px 0px 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 0;
}
.input-group .form-control{
	border-left: none;
}
@media (min-width: 360px){
	.Grid-search {
	    flex: 0 0 calc(54.21% - 1em);
	}
}
@media (min-width: 660px){
	.Grid-search {
	    flex: 0 0 calc(35% - 1em);
	}
}
@media (min-width: 1024px){
	.Grid-search {
	    flex: 0 0 calc(21.11% - 1em);
	}
}
.Grid-search{
	margin-bottom: 8px!important;
}
button.btn-grid-search, button.btn-grid-search:active{
	padding: 7px 20px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    background: #f37021;
    border: none;
    text-transform: capitalize;
    color: #fff;
    border-radius: 0px;
    max-height: 34px;
}
.search-kncc .checkbox{
	float: right;
	margin-top: 5px;
	margin-left: 20px;
	font-size: 12px;
	color: #666;
}
.sx-{
	float: right;
	margin-bottom: 5px
}
.sx- .form-control {
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: none;
    margin-left: 5px;
}
.heading-page-{
	 display: flex;
  	flex-direction: row;
  	justify-content: space-between;
}