.buy-center{
}
.need-buy-center-top{
    width: 100%
}
.Grid--gutters {
    margin-left: -1em;
}

.u-textCenter {
    text-align: center;
}
.Grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.Grid--gutters .Grid-cell {
    padding-left: 1em;
}
.Grid--cols-4 > .Grid-cell {
    flex: 0 0 100%;
}
@media (min-width: 360px){
    .Grid--cols-4 > .Grid-cell {
        flex: 0 0 calc(53% - 1em);
    }
}
.chatnow, .chatnow a{
    color: #f37021;
    margin-bottom: 6px;
}
.area{
}
.chatnow .fa-comments, .area .fa-map-marker{
    font-size: 16px;
    width: 30px;
    text-align: center;
}


@media (min-width: 660px){
    .Grid--cols-4 > .Grid-cell {
        flex: 0 0 calc(35% - 1em);
    }
}

@media (min-width: 1024px){
    .Grid--cols-4 > .Grid-cell {
        flex: 0 0 calc(21.1111% - 1em);
    }
}
/**
@media (min-width: 1024px){
        .Grid--cols-2 > .Grid-cell, .Grid--cols-3 > .Grid-cell, .Grid--cols-4 > .Grid-cell, .Grid--cols-6 > .Grid-cell, .Grid--cols-12 > .Grid-cell {
            flex: 1;
        }
}
**/
.buy-center-linked-list {
    /*margin-top: 30px;*/
    margin-bottom: 50px;
}
.buy-center-linked-list-columns {
    /*margin-top: 15px;*/
}
.buy-center-linked-list-columns li:nth-child(2n+1){
    background-color: #f8f8f8;
}
.buy-center-linked-list-columns li {
    border-bottom: 1px solid #eee;
    padding: 10px;
}
.h3-buy {
    position: relative;
    padding-bottom: 15px;
}
.h3-buy:before {
    position: absolute;
    top: 100%;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #28b241;
}
.item-buy{
    padding: 10px;
    margin-bottom: 1em;
    background: #ecf9e0;
    border: 1px solid #c1e4a1;
    border-radius: 3px;
}
.news-buy{
    display: flex;
    align-items: top;
    align-content: top;
    justify-content: flex-start;
}
/*.buy-center-linked-list-columns li {
    border-bottom: 1px solid #dcf3c7
}*/
.buy-center-linked-list-columns li:last-child{
    border-bottom: none;
} 
.icon-buy-li {
    -webkit-flex-basis: 50px;
    flex-basis: 50px;
    max-width: 80px;
    min-width: 80px;
    height: 80px;
}
.wrap-buy-li {
    margin-left: 20px;
}
.wrap-buy-li h4{
    margin: 0
}
.info-buy, .info-buy a{
    margin-top: 5px;
    color: #999;
    font-size: 12px;
    padding-left: 3px;
}
.text-r{
    background-color: #f2f9ec;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 2px;
}
.post-area {
    color: #888;
    font-weight: 300;
}
.post-desc {
    position: relative;
    padding-top: 5px;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*height: 3em;*/ 
    text-overflow: ellipsis;
    max-height: 3.6em; 
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;


}
@-moz-document url-prefix() {

    .post-desc:before {
        /* points in the end */
        content: '...';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of block */
        right: 0;
        bottom: 0;
    }
    .post-desc:after {
        /* points in the end */
        content: '';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of text */
        right: 0;
        /* set width and height */
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        /* bg color = bg color under block */
        background: white;
    }
}



.buy-left{
    /*    padding-top: 15px;
        padding-bottom: 15px;*/
    padding-left: 0
}
.item-img img{
    text-align: center;
}
.ncc-rightlist .pull-left {
    width: 135px;
    border:1px solid #eee;
    margin-right: 10px;
    text-align: center;
    padding-right: 0;
    /*height: 90px;*/
}	
.ncc-rightlist .media-heading{
    font-size: 14px;
    font-weight: 600;
}
.ncc-center-topic {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #fff;
    border:1px solid #eee;
    padding: 15px;
}
.ncc-center-topic .block-h1{
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 8px;
}
.wrap-ncc-r{
    margin-top:25px;
}
.head-buy{
    position: relative;
}
.button-dangtin{
    padding: 8px 20px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    background: #ff5722;
    border: none;
    text-transform: capitalize;
    color: #fff;
    float: right;
    /*    position: absolute;
        right: 15px;*/
    /*top: 5px;*/
    border-radius: 4px;
}
.ncc-rightlist{
    margin-bottom: 15px;
}
.row.is-flex1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/****************************************/
.titleBar{
    font-size: 30px;
}
.messageUserBlock{
    padding-right: 15px;
}
.userTitle{
    font-weight: bold;
    margin-top: 10px;
    text-transform: capitalize;
}
.area1{
    
}
.content-muaban{
    margin-top: 20px;
    font-size: 16px;
}
.news-buy-main{
    margin-top: 10px;
    font-size: 14px;
}
.span-label{
    color: #ff5722;
    padding-left: 10px;
    font-weight: 500;
}
.area1 .fa-map-marker, .sdt-buy .fa-phone{
    margin-right: 10px;
}
.sdt-buy{
    font-weight: 500;
    color: #ff5722;
}
.gia, .soluong{
    margin-top: 8px;
}
.chitiet-buy{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ngaydang{
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.datejoin, .area1, .sdt-buy{
    margin-top: 5px;
}
.avatarHolder{
    margin: 0 auto;
    text-align: center;
}
@media (max-width: 480px){
    .col-100{
        width: 100%
    }
    .messageUserBlock{
        text-align: center;
    }
}

/**************ketnoicungcau****************/
.search-kncc{
    padding: 15px 0 15px 15px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #eee
}
.search-kncc .form-inline{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.search-kncc .form-control, .search-kncc .input-group{
    width: 95%;
    display: inline-block !important;
}
.search-kncc .form-control{

    border-radius: 0;
    border:1px solid #ddd;
    box-shadow: none;
}
.search-kncc .input-group-addon {
    padding: 6px 0px 6px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 0;
}
.input-group .form-control{
    border-left: none;
}
@media (min-width: 360px){
    .Grid-search {
        flex: 0 0 calc(70% - 1em);
    }
}
@media (min-width: 660px){
    .Grid-search {
        flex: 0 0 calc(35% - 1em);
    }
}
@media (min-width: 1024px){
    .Grid-search {
        flex: 0 0 calc(30% - 1em);
    }
}
.Grid-search{
    /*    margin-bottom: 8px!important;
        width: 100%;*/
}
button.btn-grid-search, button.btn-grid-search:active{
    padding: 7px 20px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    background: #f37021;
    border: none;
    text-transform: capitalize;
    color: #fff;
    border-radius: 0px;
    max-height: 34px;
}
.search-kncc .checkbox{
    float: right;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 12px;
    color: #666;
}
.sx-{
    float: right;
    margin-bottom: 5px
}
.sx- .form-control {
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: none;
    margin-left: 5px;
}
.heading-page-{
    /*    display: flex;
        flex-direction: row;
        justify-content: space-between;*/
    margin-top: 30px;
}
.select2-container .select2-selection--single{
    height: 33px;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 0px;
}
.btn-search-ads{
    text-align: center;
}
.box-mark {
    text-align: center;
}
.col-mark {
    position: relative;
    margin-top: 10px;
}
.headingmark {
    position: absolute;
    left: 30%;
    bottom: 40%;
    color: #fff;
    font-size: 22px;
}
.search-kncc {
    padding: 20px 0 20px 20px;
    background-color: #f6f6f6;
    margin-top: 20px;
}
.search-kncc .form-inline {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.block-h1 {
    margin-bottom: 15px;
}
.block-h1 h1 {
    font-size: 24px;
    margin-bottom: 15px;
    display: inline;
    font-weight: 300;
    text-transform: uppercase;
}
.block-h1 h4 {
    display: inline;
    font-size: 16px;
    font-weight: 300;
    color: #898989;
}
.wrap-box-mark {
    margin-left: -3px;
    margin-right: -3px;
}
@media (max-width: 480px){
    .headingmark {
        left: 25px;
        font-size: 14px;
        bottom: 20%;
    }
}

.wrap-box-mark .col-xs-4 {
    padding-right: 3px;
    padding-left: 3px;
}
.icon-buy-li img{
    width: 100%;
    height: 100%;
}
.jgallery.jgallery-slider {
    /*width: 100% !important;*/
    /*height: 360px !important;*/
}
@media (max-width: 768px){
    .jgallery.jgallery-slider {
        width: 100% !important;
        height: 360px !important;
    }
    .button-dangtin {
        float: left;
        width: 100%;
    }
}
.buy-center-linked-list-detail {
    margin-top: 15px; 
}
/*heading  */
.wrap-breadcrumb {
    background-color: #f4f4f4;
    margin-bottom: 10px;
}
.breadcrumb{
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 300!important;
    font-size: 13px;
    padding: 8px 0px;
}
.detail-ads-wrap{
    background: #f8f8f8
}
.border-ads{
    border:1px solid #eee;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
}