/*----------Đăng nhập Đăng ký --------------*/
.login-title {
    margin: 30px 0 20px 0;
    display: inline-block;
    width: 100%;
}
.login-title h3 {
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
}
.login-other {
    color: #757575;
    padding-top: 5px;
}

.mod-third-party-login-line {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    border-top:1px solid #ddd;
}

.next-btn-large {
    margin: 0;
    height: 48px;
    padding: 0 36px;
    font-size: 14px;
    line-height: 46px;
    border-width: 1px;
}
.next-btn-primary, .next-btn-primary.visited, .next-btn-primary:link, .next-btn-primary:visited {
    color: #fff;
}

.next-btn-primary {
    border-style: solid;
    background-color: #f57224;
    border-radius: 0;
    border-color: transparent;
    width: 100%;
    margin-top: 0px;
}
.mod-third-party-login-bd {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mod-login button {
    width: 100%;
}
.mod-button {
    display: block;
    width: 100%;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.mod-third-party-login-fb {
    background: #3B5998;
    height: 40px;
    line-height: 36px;
    border-radius: 3px;
    margin-bottom: 12px;
}
.mod-third-party-login-fb:before {
    content: 'f';
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}
.mod-third-party-login-google:before {
    font-family: 'FontAwesome';
    content: '\f0d5';
    margin-right: 20px;
    font-size: 18px;
}
.mod-third-party-login-google {
    background: #D34836;
    height: 40px;
    line-height: 38px;
    border-radius: 3px;
}
.search-form input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    outline: none;
}
.mod-regis-cs{
    background: #fff;
    margin-bottom: 30px;
}                                                                         
.input-lg-1{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
    height: 40px;
    line-height: 38px 0;
    padding: 0 35px 0 10px;
    outline: none;
}
.mod-regis-cs .form-control {
    box-shadow: none;
    border-radius: 0
}
.mod-regis-cs .form-group{
    margin-bottom: 20px;

}

.form-horizontal .control-label{
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}
.checkbox a, .control-label a {
    color: #0096d5;
}
.forgot-password {
    color: #000;
    font-size: 13px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user-link {
    background: none;
    padding: 0;
    border: 0;
    text-transform: capitalize;
    color: #ff5722;
}
.forgot-password a:hover {
    color: #ff5722 !important;
    text-decoration: none !important;
}
.btn-register{
    background: none;
    padding: 0;
    border: 0;
    font-size: 1.6rem;
    color: #ff5722;
    cursor: pointer;
    font-weight: 500;
}
.login.register{
    background-color: #fff;
    margin-top: 30px;
}
.left-form-login, .left-form-register{
    padding: 20px 20px 0 20px;
}
.left-form-login p, .left-form-register p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
}
.dn-tit, .dk-tit{
    font-size: 24px;
}
.login.register .col-md-8{
    border-left: 3px solid #f2f2f2;
}
.right-form-login, .right-form-register{
    padding-right: 20px;
    padding-left: 15px;
}
.reset{
    padding: 0 10px;
}
.card-body{
    padding-top: 0!important;
}