/*body {
    display: block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}*/
.clear {
    clear: both;
}
#map_category {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
    background: white;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 13px;
    border: 1px solid #C0C0C0;
}
#map_category>label{
    display: block;
    font-family: tahoma;
    font-size: 11px;
    line-height: 22px;
}
#map_search{
    position: relative;
    height: 25px;
    z-index: 99;
    display: block;
    padding-top: 1px;
    width: 100%;
}
#map_text_search{
/*    position: absolute;*/
    right: 0;
    margin: 0;
    margin-right: 5px;
    background: url(images/bg_maptextsearch.png) left no-repeat;
    border: 1px solid #cccccc;
    padding: 2px 0 2px 16px;
}
#map_search_display{
    position: absolute;
    right: 0;
    top: 22px;
    margin-right: 5px;
    background: #F7F8E7; /*white;*/
    padding: 1px;
    border: 1px solid #C0C0C0;
    display: none;
    padding-right: 15px;
}
#map_search_display>label{
    display: block;
    font-family: tahoma;
    font-size: 11px;
    line-height: 23px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}
.map_item_srearched {
    cursor: pointer;
}
.map_item_srearched:hover   {
    background: #c5c6af;
}
.map_note {
    float: right;
    margin: 12px 0 0 5px;
    border: 1px solid #e7e7e7;
    padding: 0 5px 20px 5px;
    overflow: hidden;
}
.map_notetitle {
    /*border-bottom: 1px solid #e7e7e7;*/
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    margin-bottom: 5px;
    font-family: arial;
    text-transform: uppercase;
    font-weight: bold;
    /*background: #FAFAF4;*/
    padding-left: 7px;
    color: red;
}
.hotitem {
    padding: 10px 5px;
    float: left;
    width: 130px;
    overflow: hidden;
    cursor: pointer;
}
.hotitem a {
    color: #1B1B1B;
    font-size: 11px;
    font-family: arial;
    text-decoration: none;
}
.itemspace {
    height: 1px;
    border-bottom: 1px solid #e7e7e7;
}
.pagemap {
    float: right;
    padding-right: 15px;
}
.pagemap a {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #666666;
    margin: 0 0 10px 5px;
    text-align: center;
    display: block;
    float: left;
    font-size: 11px;
    padding: 3px 7px;
    text-decoration: none;
}
.pagemap a:hover {
    background: none repeat scroll 0 0 #DE2929;
    color: #FFFFFF;
}
.pagemap a.page-active {
    background: none repeat scroll 0 0 #DE2929;
    color: #FFFFFF;
}