.h3-news {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.h3-news:before {
    position: absolute;
    top: 100%;
    content: '';
    width: 50px;
    height: 2px;
    background-color: #28b241;
}
.box-news .block-content .item {
    margin-top: 15px;
    margin-bottom: 15px;
}
/****************/
.item-news .pull-left{
    width: 40%;
    max-width: 270px;
}
.grid-news{
    margin-top: 20px;
}
.grid-news .media{
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.grid-news .media:last-child{
    border-bottom: none;
}
.detail-news-p img{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h2-tit-news{
    margin-bottom:10px;
    border-bottom: 1px solid #ececec;
        font-size: 22px;
    font-weight: 500;
    color: #5aa32a;
    line-height: 28px;
    padding-bottom: 10px;
}
.detail-news-p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.grid-news .media-news{
    font-size: 14px;
}
.source{
    text-align: right;
    font-style: italic;
    margin-top: 10px;
}
.box_tinlienquan .title_box {
    padding: 10px 0;
    border-top: 1px solid #e4e4e4;
    font: 700 14px arial;
    color: #000;
}
.list_news_quantam .list_news{
    padding: 0 10px 10px 0;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding-top: 0!important;
    margin-top: 0!important;
    border: none!important;
}
.list_news_quantam .thumb_art {
    width: 100%!important;
    float: left;
    margin-bottom: 7px;
}
.list_news_quantam .title_news {
    margin-bottom: 5px;
    line-height: normal;
}
.list_news_quantam .title_news a {
    font: 400 14px arial;
    color: #333;
}
.pdp-mod-comments .mod-title{
    background: #eaeaea;
    position: relative;
    text-rendering: geometricPrecision;
    padding: 0 0 0 10px;
    font: 400 14px/26px arial;
    color: #9d234c;
}
.full_content{
    padding-bottom: 2px;
    font: 300 14px/19px arial;
}
.comment_item .avata_coment {
    margin: 0 10px 0 0;
    float: left;
}
.comment_item .avata_coment img{
    width: 24px;
    height: 24px;
}
.txt_11 {
    font-size: 11px;
}
.txt_666 {
    color: #666;
}
.txt_blue {
    color: #004f8b!important;
}
.comment_item {
    padding: 10px 10px 0 10px;
    word-wrap: break-word;
}
.comment_item .block_like_web a {
    font-size: 11px;
}
.comment_item .block_like_web a.share_cmt_fb .ic {
    font-size: 8px;
}
.ic-caret-down, .ic-caret-down-2 {
    width: 6px;
    height: 3px;
    background-position: -508px -116px;
    margin-top: -3px;
}
.comment_item span.left.txt_666.txt_14 {
    font-size: 12px;
    padding: 5px 0 0;
    white-space: nowrap;
}
.comment_item .block_like_web {
    float: right;
    text-align: right;
    padding: 0;
    font-size: 12px;
    position: relative;
}
.comment_item p {
    padding-bottom: 2px;
    font: 300 14px/19px arial;
}
.comment_item a.link_thich {
    position: relative;
    color: #004f8b!important;
}
.comment_item .block_like_web a {
    font-size: 11px;
}
.comment_item.hight_light {
    background: #f8f8f8;
}
.ic {
    width: 15px;
    height: 15px;
    background: url('images/icon_vne.png') no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}   
.ic-like {
    background-position: -368px -52px;
    width: 10px;
    height: 10px;
}
.comment_item a.link_thich .ic {
    color: #9f224e;
    font-size: 12px;
}
.comment_item a.link_thich .ic {
    color: #9f224e;
    font-size: 12px;
}
.input_comment {
    padding: 10px;
    background: #f5f5f5;
    position: relative;
    width: 100%;
    z-index: 2;
    border-top: 1px solid #dedede;
    margin-top: 20px;
    float: left;
}
.input_comment textarea {
    font: 400 12px/18px arial;
    background: #fff;
    border: 1px solid #c5c5c5;
    width: 100%;
    height: 58px;
    color: #666;
    overflow: hidden;
    padding: 5px 0 0 5px;
}
.block_relative {
    position: relative;
}
.right {
    float: right!important;
}
.btn_sdc {
    background: #4267b2;
    color: #fff!important;
    font: 700 12px arial;
    padding: 5px 18px;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.btn_send_comment {
    float: right;
    margin-top: 10px;
}
.box_category{
    padding-bottom: 20px;
    width: 100%;
}
.box-news-hot{
    float: left;
    width: 100%;
}
.caption-txt {
    font: 700 13px Arial;
    color: #333;
    margin-bottom: 5px;
    margin-bottom: 10px;
}
.full_content{
    white-space: pre-wrap;
}
.news-content p, h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}