/*----------Trang tin cá nhân --------------*/
.wrap-page-users{
    background-color: #f4f4f4;
}

.user-menu-left-wrap {
    margin: 10px 0;
    float: left;
}
.user-container {
}
.form-ads-container{
    margin:0;    
}
.user-header {
    color: #354052;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    display: block;
}
.my-business-wrap {
}
.my-business-wrap .my-business-menu-item {
    position: relative;
}
.my-business-wrap .my-business-menu-item:hover {
    background-color: #eee;
}

.my-business-wrap .menu-checked {
    background-color: #eee;
    color: #333;
    font-weight: 500;
    position: relative;
    z-index: 1;
}
.my-business-wrap .my-business-menu-wrap-item {
    padding: 12px;
    cursor: pointer;
    height: 46px;
}
.user-menu-left-wrap .my-business-menu-item:first-child .my-business-menu-wrap-item {
    border-top: none;
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}
.my-business-wrap .my-business-menu-content {
    color: #333;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}
.my-business-menu-item.menu-checked  .my-business-menu-content{
    font-weight: bold;
}
.my-business-wrap .my-business-menu-wrap-item, .my-business-wrap .my-business-menu-wrap-item .sdc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.my-business-wrap .my-business-menu-wrap-item .sdc {
    color: #999;
    font-size: 21px;
    margin-right: 20px;
    width: 24px;
}
.my-business-wrap .is-active .sdc {
    color: #fff;
    background-color: #ed3237;
}

.sdc-home:before {
    content: "\f015";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #ffffff;
    font-size: 18px;
    /*padding-right: 0.5em;*/
    position: absolute;

}
.sdc-notification:before {
    content: "\f086";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #ffffff;
    font-size: 18px;
    /*padding-right: 0.5em;*/
    position: absolute;

}
.my-business-wrap .my-business-logout, .my-business-wrap .my-business-logout a {
    border-top: 1px solid #e6eaee;
    padding: 15px 10px;
    color: #333;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 10px;
    /*text-transform: uppercase;*/
}
.my-business-logout .fa-building{
    font-size: 20px;
    color: #f37021;
    padding-right: 20px;
    padding-left: 5px;
}
.my-business-wrap .my-business-logout a {
    padding: 0;
    border: none;
    cursor: pointer;
}
.my-business-wrap .fa-shopping-cart {
    font-size: 18px;
    color: #5a5a5a;
    margin-left: 0px;
    margin-top: 0px;
}
.user-info-left-wrap {
    padding: 0 10px;
    float: left;
}
.upload-img-border {
    border-radius: 4px;
    position: relative;
    width: 128px;
    height: 128px;
    float: left;
}
.upload-img-container {
    background: #fff;    
    width: 100%;
    color: #666;
    float: left;
    margin-top: 10px;
}
.upload-img-wrap {
    width: 128px;
    height: 128px;
    float: left;
    border: 1px solid #f2f2f2;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.upload-img-wrap img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    height: 128px;
}
.upload-img-container .upload-img-wrap-desc {
    float: left;
    padding-left: 30px;
    width: calc(100% - 128px);
}
.upload-img-container .upload-img-wrap-desc .upload-img-desc {
    display: block;
    padding-top: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(0,0,0,.75);
}
.upload-img-container .upload-img-wrap-desc .upload-desc {
    color: #7f8fa4;
    font-family: Roboto;
    font-size: 13px;
    line-height: 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
}
.upload-img-container .upload-img-wrap-desc .upload-desc .fa {
    margin-right: 7px;
    font-size: 19px;
}
.btn-file{
    margin-bottom: 10px !important;
}
.user-info-right{
    background-color: #fff;
    font-family: roboto;
}
.upload-img-container .upload-img-clear-btn {
    height: 23px;
    width: 23px;
    border: 1px solid #fff;
    background-color: #aeaeae;
    position: absolute;
    top: -11px;
    right: -11px;
    cursor: pointer;
    border-radius: 100%;
    font-size: 0;
    color: transparent;
}

.upload-img-container .upload-img-clear-btn:after, .upload-img-container .upload-img-clear-btn:before {
    content: "";
    position: absolute;
    width: 11px;
    height: 1px;
    background-color: #fff;
    top: 50%;
    left: 50%;
}
.upload-img-container .upload-img-clear-btn:before {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    -moz-transform: translate(-50%,-50%) rotate(45deg);
    -o-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}
.upload-img-container .upload-img-clear-btn:after {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    -moz-transform: translate(-50%,-50%) rotate(-45deg);
    -o-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
}
.frm-reset-pass{
    width: 100%;
    float: left;
}
.profiles {
    padding-bottom: 10px;
}
.profiles .image-avartar {
    width: 45px;
    height: 45px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}
.profiles .name {
    font-size: 13px;
    margin-bottom: 5px;
    color: #333;
    margin-top: 5px;
    font-family: Roboto;
    font-weight: 300;
}
.profiles h5 {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #333;
    overflow: hidden;
}
.skin-green-light .sidebar-menu .treeview-menu>li.active>a, .skin-green-light .sidebar-menu .treeview-menu>li>a:hover {
    color: #9999;
}
.box {
    position: relative;
    border-radius: 0px;
    background: #ffffff;
    border-top: none!important;
    margin-bottom: 0px;
    width: 100%;
    box-shadow: none!important;
}
.box-header1{
    padding: 0 10px;
    padding-bottom: 20px;
}
.wrap-page-user{
    background: #fff;
    margin-bottom: 30px;
}
.msg-tab{
    background-color: #fff;
}
.msg-tab .nav-tabs{
    background: #fff;
    border:none;
}
.msg-tab .tab-content{
    padding: 0;
    border:none;
    padding: 20px;
}
.msg-tab .nav-tabs > li > a{
    background-color: transparent;
    font-size:14px;
    font-weight: 400;
}
