@media (min-width: 1600px) {
	.col-lg-1-5 {
		float: left;
	    width: 20%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-lg-2-5 {
		float: left;
	    width: 40%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-lg-3-5 {
		float: left;
	    width: 60%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-lg-4-5 {
		float: left;
	    width: 80%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-lg-5-5 {
		float: left;
	    width: 100%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
}

@media (min-width: 1200px) {
	.col-lg-1-5 {
		float: left;
	    width: 20%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-lg-2-5 {
		float: left;
	    width: 40%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-lg-3-5 {
		float: left;
	    width: 60%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-lg-4-5 {
		float: left;
	    width: 80%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-lg-5-5 {
		float: left;
	    width: 100%;
	}
}

@media (min-width: 992px) {
	.col-md-1-5 {
	    width: 20%;
		float:left;
		padding-right: 15px;
    	padding-left: 15px;
	}
	.col-md-2-5 {
		float: left;
	    width: 40%;
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.col-md-3-5 {
	    width: 60%;
		float: left;
		padding-right: 15px;
    	padding-left: 15px;
	}
	.col-md-4-5 {
	    width: 80%;
		float:left;
		padding-right: 15px;
    	padding-left: 15px;
	}
	.col-md-5-5 {
	    width: 100%;
		float: left;
		padding-right: 15px;
    	padding-left: 15px;
	}
}

@media (min-width: 640px) {
	.col-sm-5{
		float: left;
		width: 41.66666%;
	}
	.col-sm-7{
		float: left;
		width: 58.333333%;
	}
	.col-sm-6{
		width: 50%;
		float: left;
	}
}
@media (min-width: 992px){
	.col-md-4 {
	    width: 33.33333333%;
	}
	.col-md-3 {
	    width: 25%;
	}
	.col-md-6 {
	    width: 50%;
	}
	.col-md-8{
		width: 66.666666%;
	}
}
/*************************************/
.thumbnail{
	border: none;
	padding: 0;
	margin-bottom: 10px;
	background-color:transparent; 
}
.thumbnail .caption{
    padding: 9px 0;
    color: #333;
}
.thumbnail h3{
	font-weight: bold;
	padding: 0;
}
.thumbnail h2{
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	padding: 0;
}
.col-md-1-5 {
		padding-right: 15px;
    	padding-left: 15px;
	}