@charset "utf-8";
/* CSS Document */
body {
    font-family: 'Roboto', arial, sans-serif!important;
    font-size:14px;
    color:#333;
    /*background-color: #f6f6f6;*/
}
/* Import Fonts
------------------------------------------------------------ */
a{
    color: #333;
}

/* Defaults
------------------------------------------------------------ */

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
}
.contentMain{
    background-color: #f6f6f6;
}
.iconSearchHeader {
    margin-right: 0px !important;
    z-index: 0 !important;
}
.article-title {
    color: #424242;
    font-size: 19px;
    padding-top: 10px;
    font-weight: 600;
    position: relative;
}
.article-detail{
    margin-top: 10px;
    margin-bottom: 30px;
}
.munu-footer a {
    color: #333;
}
h2, h3, h4{
}
h1, h2, h3{
    margin:0;
    padding: 0
}
ul, ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Hyperlinks
------------------------------------------------------------ */
a:link{
    color:#333;
}

a:hover, a:focus, a:active{
    color: #333;
    text-decoration:none;
}
/* Wrap
------------------------------------------------------------ */
@media (min-width: 1200px){
    .container {
        width: 1230px;
    }
}
/* Header
------------------------------------------------------------ */
/*menu*/
@media (min-width: 1023px){
    li.dropdown:hover>ul{
        display: block;
    }
}

.menu-hor .nav>li>a {
    position: relative;
    display: block;
    padding: 7px 20px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 8px 20px;
    font-weight: 500;
    color: #333!important;
} 
@media (min-width: 767px){
    .navbar {
        border-radius: 0px;
    }
}
.navbar {
    position: relative;
    min-height: 35px;
}
.dmsp .dropdown-menu{
    border:none;
    width: 250px;
    z-index: 999999;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dmsp .dropdown-menu{
    /*height: 330px;*/
/*    min-height: 250px;*/

}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    border-radius: 0!important;
    /*height: 330px;*/
    /*min-height: 250px;*/
    width: 250px;
    background: #FFF;
}
.dmsp ul li a{
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    padding: 6px 10px 6px 15px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    color: #333;
}

@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {

        /*    border: 1px dashed #666;
            border-radius: 4px;
            padding: 0px 16px;
            margin: 15px 15px 0 15px;
            visibility: visible !important;
            top: initial;
            right: inherit;
            box-shadow: none;
            z-index: inherit;*/
    }
}
.navbar {
    margin-bottom: 1px;
}
/*end menu*/
/*.top-header{
    background-color: #31b142;
}*/
.top-header  {
    background-color: #5aa32a;
}
.top-header .nav>li>a:hover,.top-header .nav>li>a:active, .top-header .nav>li>a:focus{
    background: none!important;
}
.top-header .nav>li>a {
    position: relative;
    display: block;
    padding: 7px 18px;
    float: left;
    color: #fff;
    font-size: 13px;
}
.top-header .nav>li>a:hover, .top-header .nav>li>a:active{
    color: #fff
}

/*.li-tb:before{
    content:'\f0f3';
    font-family: 'FontAwesome';
    position: absolute;
    margin-top: 8px;
    color:#fff;   
}*/
.li-tg:before{
    content:'\f059';
    font-family: 'FontAwesome';
    position: absolute;
    margin-top:8px;
    color:#fff;   
}
.block-mobile.regis li.li-tg:before {
    font-family: 'FontAwesome';
    position: absolute;
    color: #888;
    padding-right: 8px;
    width: 10px;
    margin-top: 0
}
.li-dn:before{
    content:'\f090';
    font-family: 'FontAwesome';
    position: absolute;
    color:#fff;  
    margin-top: 6px;
}
.li-dk:before{
    content:'\f007';
    font-family: 'FontAwesome';
    position: absolute;
    color:#fff;  
    margin-top: 6px;
    padding-left: 0;
}
.li-ql:before{
    content:'\f0ce';
    font-family: 'FontAwesome';
    position: absolute;
    margin-top: 8px;
    color:#fff;  
}
.li-download:before{
    content:'\f019';
    font-family: 'FontAwesome';
    position: absolute;
    margin-top: 8px;
    color:#fff;  
}
.li-shopcard:before{
    content:'\f07a';
    font-family: 'FontAwesome';
    position: absolute;
    margin-top: 8px;
    color:#fff;  
}
.banner{
    background-color: #fff;
    padding: 10px 0;
    position: relative;
}
.search-form{
    height: 40px;
    border-radius: 0px;
    background-color: #fff;
    position: relative;
    margin-top: 14px;
    border: 1px solid #009933; 
    /*#f37021;*/
    display: inline-block;
}

.search-form input{
    border:none;
    height: 34px;
    margin-top: 1px;
    margin-left: 2px;
    border-radius: 0px;
}
.search-form input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
}
.search-form button{
    background-color: #009933;
    /*#f37021;*/
    height: 38px;
    border: none;
    right: -1px;
    top: -1px;
    border-radius: 0;
    transition-duration: 0.3s;
}
.search-form button:hover{
    background-color: red;
    transition-duration: 0.2s;
}
.fa-search{
    font-size: 16px;
    color: #fff;
}

.card-wrapper{
    height: 40px;
    text-align: center;
    margin-top: 14px;
}
.dmsp{
    width: 250px;
    background-color: #f2f2f2;
}
.fa-list{
    margin-right: 10px;
}
.logo{
   
}
@media (max-width: 1023px){
    .logo{
        width: 220px;
    }
}

/*mobile-header*/
.navbar-toggle{
    float: left;
    left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px 6px;
}
.regis {
    float: right;
}
.regis li{
    float: left;
    padding: 15px 15px;
}
.navbar-default .navbar-nav>li>a{
    color: #333;    
}

@media (max-width:1023px){
    .none-mobile{
        display: none;
    }
    .navbar {
        position: fixed;
        min-height: 42px;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    .banner{
        top:46px;
        padding-bottom: 0;
    }
    .card-wrapper{
        position: absolute;
        top:-140px;
        right: 20px
    }
    .wrap-search{
        padding: 0px 15px 0 15px;
    }
    .search-form{
        margin-top: 0
    }
    .dmsp {
        width: 100%;
        background-color: #fff;
    }
    .fa-list {
        display: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 10px 15px 10px 25px;
    }
    header{
        height: 174px;
    }
}
@media (min-width: 1024px){
    .block-mobile{
        display: none;
    }
}
.block-mobile.regis>li>a {
    position: relative;
    display: block;
    padding: 0px 0px 0 20px;
    float: left;
    color: #333!important;
    font-family: 'Roboto', arial, sans-serif!important;
}

/*mobile-menu cho ipad*/

@media (min-width: 767px ) and (max-width: 1023px){
    .navbar-collapse.collapse {
        display: none!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: auto!important;
    }
    .navbar-toggle {
        display: block;
    }
    .collapse.in {
        display: block!important;
        background-color: #fff;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-header {
        float: left;
        width: 100%;
    }
    .container{
        width: 100%
    }
    .navbar-collapse {
        border-top: 1px solid transparent;

    }
    .navbar-nav {
        width: 100%
    }
    .dropdown-menu{
        width: 100%;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav {
        margin: 7.5px 0;
    }
}
/*end mobile-menu cho ipad*/
/*----------------------------------------------end header-------------------------------*/
/*-----------------------------------------------Slide---------------------------------*/
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-inner img{
    margin: auto;
}
/*---------------------------Slick product-----*/
.box-product{
    margin-top: 30px;
}
.wrap-th .item {
    padding: 5px 5px;
    border-radius: 5px;
}
.wrap-th .col-md-2 .logoncc{
    border:3px solid #f4f4f4;
    border-radius:5px;
    height: 120px;
    background: #fff;
    display: block;
    position: relative;
}
.wrap-th .col-md-2 .logoncc img{
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    padding: 0px 20px;
}
.wrap-th .col-md-2 .logoncc img:hover{
    transform: scale(1.05);
}
.box-header{
    text-transform: uppercase;
    margin: 0 0 10px;
    text-align: left;
    position: relative;
    /*border-bottom: 1px dotted #ddd;*/
    /*font-family: Roboto-Regular;*/
    font-size: 20px;
    font-weight: 500;
    color: #424242;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -webkit-justify-content: space-between; /* Safari */
    justify-content:         space-between;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap:         wrap;
}
.box-header .icon, .box-header-km .icon{
    display: block;
    width: 40px;
    min-height: 24px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    font-size: 24px;
    background: #fff;
    text-align: center;
    bottom: -15px;
    color: #31b142;
}
.tit-thumb-product{
    font-size:13px;
    line-height:1.5;
    margin-top:5px;
    min-height:40px;
}
.price{
    font-weight: 500;
    font-size: 14px;
    color: #5aa32a;
}
.swiper-container-horizontal{
    background-color: #fff;
    padding-bottom: 10px;
}
.swiper-container-horizontal .slider .slick-list .slick-slide {
    margin: 0px 15px;

}
.ads{
    margin-top: 20px;
}
.box-product2 {
    /*    background-color: #fff;*/
    margin-top: 5px;
}
.box-product2 .thumb-product{
    background-color: #fff;
    /*border:1px solid #eee;*/
}
.box-product2 .thumb-product .info-pro{
    padding: 0 10px 10px;
}
.wrap-product{
    background-color: #fff;
    padding: 15px;
    padding-bottom: 0px;
}
/*end slick*/
/*begin product*/
.thumb-product.item {
    background: #fff;
    margin-bottom: 17px;
    padding-bottom: 8px;
    position: relative;
    top: 0px;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    /*border: 1px solid #eee;*/
}
.thumb-product.item:hover{
    top: -5px;
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, .1);
}
/**/
.thumb-product.item .img {
    height: 180px;
    border-bottom: none;
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    border:1px solid #eee;
}
@media (max-width: 480px){
    .thumb-product.item .img {
        height: 120px;
    }
}
.thumb-product.item .img a{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
.thumb-product.item .wrap-info{
    padding: 0px 8px 0px 8px;
    position: relative;
    z-index: 2;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-align: center;
    height: 70px;
}

.thumb-product.item:hover .wrap-info{
    /*    background: #86bc42;
        height: 110px;
        margin-top: -35px;*/
}
.sidebar-block.thumb-product.item .wrap-info{
    height: auto;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .thumb-product.item .img {
        height: 260px;
    }
}

.thumb-product.item .img img {
    max-width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: none;
    z-index: 1;
}
@media screen and (min-width: 992px) {
    .thumb-product.item:hover .countdown {
        display: block;
    }
}
.thumb-product.item h3 {
    margin: 0px 0px 3px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.4;
    padding: 8px 0px 0px;
    max-height: 52px;
}
.thumb-product.item h3 a {
    color: #25363a;
    font-size: 13px;
    display: block;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.thumb-product.item:hover h3 a{
    color: #000;
}

.thumb-product.item .discount {
    color: #5aa32a;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.thumb-product.item .discount > font , .thumb-product.item .price > font {
    font-size: 12px;
    font-weight: 400;
}

.thumb-product.item .true-price {
    color: #999;
    font-weight: 400;
    font-size: 13px;
    text-decoration: line-through;
    margin-top: 12px;
    padding-left: 10px;
}
.thumb-product.item:hover .addcart11 {
    display: block;
    background-color: #ff6101;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 0 auto;
    left: 25%;
    bottom: 10px;
}
.addcart11 {
    display: none;
    position: absolute;
    bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
}
.thumb-product.item:hover .addcart1 {
    display: block;
    background: url('images/shopping-cart.png') no-repeat center;
    margin: 0 auto;
    width:45px;height: 45px;
    text-align: center;
    opacity: 1;
}
.addcart1 {
    display: block;
    background: url('images/shopping-cart.png') no-repeat center;
    margin: 0 auto;
    width:45px;height: 45px;
    text-align: center;
    opacity: 0.7;
}
@media screen and (max-width: 768px) {
    .thumb-product.item .price {
        width: 100%;
    }
    .thumb-product.item .price {
        color: #fc461e;
    }
}
/*-----------------Nhà CC---------------------*/
.wrap-ncc{
    background: #f6f6f6;
    margin-top: 0px;

    padding-bottom: 20px;
}
.box-ncc{
    margin-top: 25px;

}
.box-header-ncc{
    padding: 5px 0px 10px 0;
    color: #424242;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    font-weight:500;
}
.wrap-th .row {
    margin: 0px -7px;
}

.wrap-th .item {
    padding: 7px;
    border-radius: 3px;
}
.wrap-th .col-md-2 .logoncc{
    border:1px solid #eee;
    border-radius:3px;
    height: 120px;
    background: #fff;
    display: block;
    position: relative;
}
.wrap-th .col-md-2 .logoncc img{
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    padding: 15px;
}
.wrap-th .col-md-2 .logoncc img:hover{
    transform: scale(1.05);
}
/*------------------------------News---------------------------*/
.box-news .block-content .item .img {
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    height: 180px;
}
.box-news .block-content .item .img > img {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.box-news .block-content .item h3 {
    margin: 15px 0px;
}
.box-news .block-content .item {
    margin-top: 5px !important;
}
.box-news .block-content .item h3 a {
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    display: block;
    font-weight: 500;
}
/*--------------------------------------FOOTER------------------------------------------------*/

footer{

}
.form-email{
    background: #fff;
    border-radius: 25px;
    height:40px;
    margin-top:10px;
    margin-bottom: 20px;
}
.form-email input{
    border-radius: 25px;
    height:40px;
    border:none; 
    padding-left: 10px;
    width: 88%;
}
.form-email button.newsletter_button{
    background: #fff;
    border-radius: 0 25px 25px 0;
    border: none;
    width: 10%;
}
.fa-envelope{
    color: #31b142;
}
.bg-top-ft{
    background:#31b142;
    min-height: 245px;
}
.top-ft:before{
    content: url(images/qua_03.png);
    position: absolute;
    left: 200px;

}
.ft-before{
    background: #fafafa;
    border-top:1px solid #eee;
}
.top-ft:after{
    content: url(images/qua_05.png);
    position: absolute;
    right: 200px;
}

.social.new-letter{
    padding-top: 30px;
}
.new-letter p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.social-icon{
    text-align: center;
    color: #fff;
    font-size: 36px;
}
.social-icon a{
    color:#fff;
}
.widget-title{
    color:#424242;
    font-size: 17px;
    margin-bottom: 15px;
    position:relative;
    text-transform: uppercase;
    font-weight: 400 !important;
}
.widget-title:after{
    content: '';
    height: 1px;
    width: 50px;
    position: absolute;
    background: #f37021;
    bottom: -12px;
    left: 0px;
}
.widget-menu li{
    font-size: 14px;
    padding: 6px 0;
    padding-left:15px;
}
.widget-menu li:before{
    position: absolute;
    left: 0;
    content: '•';
    color: #f37021;
    margin-left: 15px;
}
.widget{
    margin-top: 20px;
    margin-bottom:20px;
}
.bg-ft-before {
    position:relative;
}
.bg-top-ft .container:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(images/curved-bg.png) no-repeat bottom center;
    height: 30px;
    width:100%;
}
.wrap-top-ft{
    position: relative;
}
.summary{
    margin-top:15px;
}
.end-ft{
    letter-spacing:1;
    text-align:center;
    color: #fff;
    padding: 5px 15px;
    background-color:#5aa32a;
    /*padding-top:15px;*/
}
.end-ft span{
    padding-left:10px;
    padding-right:10px;
}
.hotline-ft, .email-ft{
    position:relative;
    margin-left:20px;
}
.hotline-ft:before{
    content: '\f098';
    font-family: 'FontAwesome';
    position: absolute;
    color: #fff;
    left:-10px;
}

.email-ft:before{
    content: '\f0e0';
    font-family: 'FontAwesome';
    position: absolute;
    color:#fff;
    left:-10px;
}
@media (max-width: 1023px){
    .top-ft:before{
        content: none;
    }
    .top-ft:after{
        content: none;
    }
    .full-home-banners {
        padding-top: 0px!important;
    }
}
.banner-demand {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.product-category-wrap {
    padding: 30px 0 30px 0;
    background-color: #fff;
    position: relative;
}
.product-left-content{
    height: 320px;
    padding-top: 80px;
    text-align: center;
}
.product-category-wrap .title-black {
    font-size: 18px;
    color: #000;
    font-family: 'Roboto', arial, sans-serif;
    line-height: 32px;
}
.product-category-wrap .product-iton {
    font-size: 50px;
    color: #ffa830;
}
.vtd-sp-nong-nghiep {
    font-family: vitrade !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.vtd-sp-nong-nghiep:before {
    content: "\E92D";
}
.view-more-link {
    margin-top: 10px;
    display: inline-block;
    color: #ed3237;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 13px;
    line-height: 15px;
}
.view-more:after {
    content: "";
    width: 6px;
    height: 6px;
    top: -1px;
    position: relative;
    margin-left: 7px;
    display: inline-block;
    border-left: 5px solid #ed3237;
    border-right: 5px solid transparent;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.view-more-link a:hover{
    color: #b8312c;
}
.product-left-content p{
    margin: auto !important;
    margin: 0 !important;
    /*padding: 0 !important;*/
}
.view-more{
    margin: auto !important;
}
.clearfix{
    clear: both;
}
.user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
.user-menu .dropdown-menu{
    position: absolute;
    right: 0;
    left: auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
    box-shadow: none;
    border-color: #eee;
}
.user-menu.open>.dropdown-menu {
    display: block!important;
}
.user-menu>.dropdown-menu>li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: #23736C;
    float: none !important;
}

@media (max-width: 991px){
    .user-menu .dropdown-menu {
        position: absolute;
        right: 5%;
        left: auto;
        border: 1px solid #ddd;
        background: #fff;
    }
}



.user-menu>.dropdown-menu>li.user-header>img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
    border-radius: 50%;
}
.user-menu>.dropdown-menu>li.user-header>p {
    z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin: 0 0 10px;
}
.user-menu>.dropdown-menu>li.user-header>p>small {
    display: block;
    font-size: 12px;
}
.user-menu>.dropdown-menu>li.user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
    width: 100%;
}
.user-menu>.dropdown-menu>li.user-body::before {
    content: " ";
    display: table;
}
.user-menu>.dropdown-menu>li.user-body a {
    color: #444 !important;
}
.user-menu>.dropdown-menu>li.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
    float: left;
    width: 100%;
}
.user-menu>a:hover, user-menu>a:active {
    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
}
.navbar-header .user-menu>a:hover, .navbar-header .user-menu>a:active {
    background: none;
    color: #333
}

.cart-count {
    width: 18px;
    height: 18px;
    position: relative;
    top: -15px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: #fff;
    margin-left: -8px;
    background:  #31b142;
    border: 1px solid #31b142;
    display:none;
}
.btn-post-cart {
    background: #fff;
    outline: none!important;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    color: #000;
}
.btn-post-cart i {
    /*margin-right: 5px;*/
    position: relative;
    font-size: 30px;
    line-height: 40px;
    display: inline-block;
    color: #f37021;
}
.cart-web-hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    visibility: hidden;
    position: absolute;
    top: 100%;
    -webkit-transition: visibility 0s;
    transition: visibility 0s;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    z-index: 1000;
}
.cart-sp {
    box-shadow: 0 1px 5rem 0 rgba(0,0,0,.2);
    border-radius: .2rem;
    overflow: hidden;
    background-color: #fff;
    width: 40rem;
}
.cart-content-title {
    padding-left: 1rem;
    height: 4rem;
    color: rgba(0,0,0,.26);
    text-transform: capitalize;
}

.cart-web-hover-item {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.cart-web-hover-item:hover {
    background-color: #f8f8f8;
}
.cart-web-item-left {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    border: 1px solid rgba(0,0,0,.09);
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.cart-web-item-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    /*margin-left: 1rem;*/
    overflow: hidden;
}
.cart-web-item-right .v-center{
    padding: 5px !important;
}
.cart-sp-name {
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cart-sp-price {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 4rem;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    color: #ff5722;
}
._2BMmIF {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.cart-web-item-footer {
    height: 4rem;
    line-height: 4rem;
    background-color: #fdfdfd;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}
.navbar__spacer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.btn-solid-primary {
    background: #ff5722;
    color: #fff;
}

.btn-solid-primary:active {
    background: #f25220;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.05);
}

/* slide mới */
.full-home-banners {
    padding-top: 15px;
}
.full-home-banners__main-banner {
    padding-left: 15px;
}

.full-home-banners__right-wrapper {

}
@media (min-width: 992px){
    .carousel-inner {
        height: 255px !important;

    }
    .carousel-inner img {
        height: 255px !important;
    }

}
.banner-right{
    width: 100%;
    padding-left: 0;
    height: 255px !important;
}
.img-right-item{
    float: left;
    width: 100%;
    height: 50%;
    overflow: hidden;

}
.img-right-item:first-child {
    padding-bottom: 5px;
}
.img-right-item:last-child {
    padding-top:  5px;
}
.img-right-item img{
    height: 100% !important;
    width: 100% !important;
}
/* cơ sở sản xuất, kinh doanh tiêu biểu*/

.business-list .business-item {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    font-size: 13px;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);
    padding: 10px;
    /*padding-right: 10px;*/
}

.business-list .business-item .business-info {
    line-height: 20px;
    color: #757575;
    margin-right: 0px;
    width: 250px;
    height: 100px;
}
.business-logo{
    padding-right: 10px;
}

.business-list .business-item span {
    display: block;

}
.business-list .business-item span.name {
    font-weight: 600;
    color: #333;
    font-size: 14px;
}
/*  end*/
/*.box-news{
    background-color: #fff;
}*/
.box-news .block-content{
    background-color: #fff;
    padding: 5px 15px;
}
.wrap-connections{
    background-color: #fff;
    margin-bottom: 20px;
}
.box-connections{
    margin-top: 15px;
    background-color: #c8e89d;
    /*border-bottom: 1px solid #cee8ac;*/
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.05);*/
}
@media (max-width: 1023px){
    .mod-card-item {
        background: transparent!important;
        padding: 0!important;
    }
    .mod-card-kncc .col-sm-3.col-xs-4{
        padding-left: 5px;
        padding-right: 5px;
    }
    .btn-post-cart i {
        top: 18px;
    }    
}
.head-buy-index {
    padding: 0 15px;
}
.h3-head-buy-index {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 12px;
}
.card-channels-link.canmua-card, .card-channels-link.canban-card, .card-channels-link.timdoitac-card {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    cursor: pointer;
}
.card-channels-name {
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;
}
.card-channels-symbol img{
    width: 33px;
    height: 33px;
}
.wrap-connections.row {
    margin: 0px -7px !important;
}
.buy-left-index{
    padding: 10px;
}
.wrap-buy-li .post-link{
    font-size: 14px;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
.news-buy-index{
    display: flex;
    align-items: top;
    align-content: top;
    justify-content: flex-start;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.buy-center-linked-list-columns-index {
    background-color: #fff;
    margin-top: 7px;
    padding: 10px 10px;
    margin-bottom: 0px;
}
.item-news-index{
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 5px;

}
.item-news-index:last-child{
    border-bottom: none;
}
.news-left-index{
    width: 80px;
    height:60px;
}
.news-right-index{
    width: 100%;
    padding-left: 10px;
}
.h3-news-index {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #5aa32a;
    color: #5aa32a;
}
.youtobe-play {
    display: none;
}
.title_video{
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #31b142;
}
.conten_video{
    text-align: center;
}
.document-right-index{
    width: 100%;
    /*padding-left: 10px;*/
    font-size: 14px !important;
    /*padding-bottom: 10px;*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;


}
.document-right-index a{
    color: #333 !important;
}
.document-left-index{
    padding: 5px 8px;
    position: absolute;
    background: #0a6537;
    color: #FFF;
    font-family: "Roboto-Bold";
    border-radius: 100%;
    display: block;
}
.mod-card-item {
    background: #fff;
    border-radius: 50px;
    padding: 3px 8px 3px 3px;
    margin-top: 6px;
}
/*.mod-card-content .mod-card-item .card-channels-link {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    cursor: pointer;
}
.mod-card-content .mod-card-item .card-channels-symbol {
    padding-right: 10px;
}*/
/*.card-channels-name {
    font-size: 18px;
}*/

.icon-buy-li-index{
    height: 50px;
    width: 50px;
}
.icon-buy-li-index img{
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    height: 100%;
    width: 100%;
}

.business-item .img-business{
    display: block;
    width: 30%;
    position: relative;
    overflow: hidden;
    height: 100px;
    border-bottom: none;
}
.business-item .img-business a img{
    /*    width: 100%;
        height: 100%;*/
}
/* menu mobile */
.checkMenu{
    display:none;
}
label.drop-icon {
    position: absolute;
    right: 0;
    top: 0;
}
@media only screen and (min-width: 992px){
    label.drop-icon {
        display: none;
    }
}
/*input[type="checkbox"]:checked + .dropdown-menu  {
    display: block;
}*/
/*a.arrow-sub{
    position: relative;
    z-index: 999;
    float: right;
}*/
.zoom-small-image img{padding: 5px;}
.button-report-user {
    color: #ff5722!important;
    background: transparent;
    border: none;
    display: inline-block;
    text-align: left;
}
.buy-li1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
}
.wrap-buy-li .post-link1 {
    font-size: 14px;
    line-height: 1.35;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
.box-news-col{
    margin-top: 10px;
}
.box-news{
    margin-top: 0px;
}
.pull-left-img-news{
    width: 25%;
}
.media-heading-cc{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
}
#youtube-player img{
    width: 100% !important;
}
.send-request {
    padding: 2px 10px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    color: #494949;
    font-size: 13px;
    display: inline-block;
    float: right;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
label.error {
    display: inline-block;
    color:red;
}

.social-button{

}
.social-button .fa-facebook-official{
    font-size: 23px;
    color: #4267b2;
    padding-left: 10px;
}
.social-button .fa-twitter{
    font-size: 23px;
    color: #55acee;
    padding-left: 10px;
}
.zalo-share-button{
    width: 30px !important;
    padding-left: 10px;
}
.menu-vertical-dmsp  li .fa{
    float: right;
    right: 15px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    z-index: 9;
    /*width: 50px;*/
}
.dropdown-submenu{
    position: relative;
}
.menu-sub-hor .fa{
    float: right;
    right: 6px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    z-index: 9;
    font-size: 15px;
}
@media (max-width: 1023px){
    .regis li{
        padding: 9px 5px;
        font-size: 14px;
    }
    .regis li a{
        color: #333!important
    }
    .li-tb:before , .li-tg:before, .li-dn:before, .li-dk:before, .li-ql:before{
        color: #999;
        position: absolute;
        margin-right: 6px;
        margin-top: 0;
    }
    .thumb-product.item .img img {
        /*width:100%;*/
        height: 100%;
    }
    .menu-sub-hor .dropdown-menu{
        position: inherit; 
        top: 100%;
        float: none; 
    }
    .menu-sub-hor .fa{
        font-size: 25px;
        right: 20px;
    }
    .menu-vertical-dmsp  li .fa{
        font-size: 25px;
    }
    .dmsp .dropdown-menu{
        height: auto;
        width: 100%;
    }
    .dropdown-submenu > .dropdown-menu{
        position: inherit;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    /* ẩn danh mục sản phẩm bên trái trên giao diện mobile */
/*    .side-nav-categories{
        display: none;
    }*/
}
.top-header .nav .open>a, .top-header .nav .open>a:focus, .top-header .nav .open>a:hover {
    background-color: transparent;
    border: none;
}

.toolbarUser{
    background-color: #fff;
    padding: 20px;
    font-family: 'Roboto', arial, sans-serif;
    margin-bottom: 0px;
        position: relative;
    z-index: 9999;
}
.nav-tabs-custom .nav-tabs-custom>.nav-tabs{
    border:none;
    background-color: transparent!important;
}
.nav-tabs-custom .tab-content{
    border:none;
}
.nav-tabs-custom .nav-tabs {
    border: none;
    background: none;
}
.nav-tabs-custom .nav-tabs > li > a{
    padding: 0; 
    padding-top: 10px;
}
.nav-tabs-custom>.tab-content{
    padding: 0!important;
    margin-top: 15px;
}
@media (max-width: 480px){
    .col-100 {
        width: 100%;
    }
}
.link-products-index{
    list-style: none;
    margin: 0px;
    /*margin-right: 30px;*/
}
.link-products-index li{
    display: inline-block;
}
.link-products-index li a {
    /*color: ;*/
    position: relative;
    z-index: 999;
    background: #f5f5f5;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}
.btn-success {
    color: #fff!important;
}

@media (min-width: 998px){
    .products-new-right{
        width: 100%!important;
    }
}
.content-center{
    padding-bottom: 20px;
}
.shop-info-index{
    display: flex;
    align-items: center;
    height: 3.2rem;
    border-top: 1px dotted #e8e8e8;
    padding-left: 3px;
}
.shop-info-index-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    color: #828282;
    padding-left: 3px;
}
.shopping-cart-index{
    float: right;
    padding-right: 10px;
}
.shopping-cart-index .fa-shopping-cart{
    font-size: 25px;
    color: #f37021;
}
.thumb-product-list-item{
    padding-right: 10px !important;
    padding-left: 10px !important;
    display: grid;
}
.image-avatar-index{
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
/* @media (max-width: 767px){
    .send-request{
        float: left !important;
    }
} */
.shop-info-index-avatar{
    width: 25px;
}
.shop-info-avatar{
    width: 20px;
}
.image-avatar-shop-prod{
    border-radius: 50%;
    height: 16px;
    width: 16px;
}
.shop-info-shop-name-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: #828282;
    padding-left: 3px;
}
.img-certifications-index {
    max-width: 100% !important;
    width: 18px !important;
    height: 18px !important;
    cursor: pointer;
    border-radius: 50%;
}
.cer-item{
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
}
.img-item{
    position: relative;
    
}