.right-button {
    float: right;    
}

.btn-icon {
    display: inline-block;
    padding: 0;
    margin: 0 10px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-icon > i {
    font-size: 19px;
}

.float-right {
    text-align: right;
}

.rm-margin {
    margin: 0px !important;
    margin: 0px !important;
}

.rm-padding {
    padding: 0px !important;
    padding: 0px !important;
}

.title{
    cursor: pointer;
}
/*medium*/
@media (max-width: 1200px) {
    .sm-margin-top {
        margin-top: 15px !important;
    }
}

/*loading*/

.animationload {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: #b3b3b3;
    opacity: 0.4;
}

.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 10001;
}

.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 100px;
    left: -25px;
    position: absolute;
    top: -25px;
    width: 100px;
}

@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        /*background: #85d6de none repeat scroll 0 0;*/
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*endloading*/

/* select2 error status */
.form-group.has-error .select2-selection {
    border-color: #dd4b39;
}
/* end select2 error status */

/*.select2-results{*/
    /*background: #b9e4ca !important;*/
/*}*/

.user-panel {
    padding: 10px 0 20px 0;
    position: inherit;
}

.user-panel .info {
    left: 30px !important;
    vertical-align: middle;
}

.org-infor {
    border-bottom-color: #00a65a !important;
    border-bottom-width: thin  !important;
    border-bottom-style: solid !important;
}

.org-name {
    white-space: pre-wrap !important;
    text-align: left !important;
/*    text-transform: uppercase !important;*/
    font-size: 16px !important;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: 500 !important;
    align-items : center !important;
    line-height: 22px;
}

.org-image {
    padding: 0px 0px 0px 9px !important;
}

/* form required */
.form-group.required .control-label sup {
    color:red;
}
/* end form required */

/* datatable */
/* Small devices (tablets, 768px and up) */
/*@media (min-width: 768px) {*/
/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
    .dataTable {
        table-layout: fixed;
    }
}
.dataTable td {
    word-wrap: break-word;
}
/* end datatable */

/* UI Loading */
.loading-message {
    display: inline-block;
    min-width: 125px;
    padding: 10px;
    margin: 0 auto;
    color: #000 !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}
.loading-message.loading-message-boxed {
    border: 1px solid #ddd;
    background-color: #fafafa;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
.loading-message > span {
    line-height: 20px;
    vertical-align: middle;
}
.img-circle{
    width: 45px;
    height: 45px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    border-radius: 0%;
}
.user-header .img-circle{
    float: none;
    margin-right:0;
    border-radius: 50%;
}


/*.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
    left: 200px !important;
}*/
/*.treeview-menu{
    width: 220px !important;
}*/
/*.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span{
    margin-left: -0px !important;
}*/
/* End UI Loading */
.main-header .sidebar-toggle:hover {
    color: #f37021!important;
}


@media (max-width: 767px){
    .sidebar-open .content-wrapper, .sidebar-open .main-footer {
        -webkit-transform: translate(250px, 0);
        -ms-transform: translate(250px, 0);
        -o-transform: translate(250px, 0);
        transform: translate(250px, 0);
    }
}
.nav-tabs-custom{
    box-shadow: none!important;
}