.block-videos{
  
}
.block-videos-title{
    position: relative;
    padding-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}
.block-videos-title h1{
     font-size: 18px;
}
.block-videos-title:before {
    position: absolute;
    top: 95%;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ddd;
    left: 0;
}
.block-videos-title:after {
    position: absolute;
    top: 95%;
    content: '';
    width: 10%;
    height: 2px;
    background-color: #5aa32a;
    left: 45%;
}
.block-videos-content{
}
.block-videos-content .title-detail{
    margin: 20px 0px 10px 0;
    font-size: 22px;
    font-weight: 500;
    color: #5aa32a;
    line-height: 28px;
}
.time-news{
    font-size: 13px;
    color: #999;
}
.block-videos-content hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.block-videos-content embed{
    width: 100%;
    height: 400px;
    margin-top: 10px;
}
.block-videos-same{
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-videos-same h2{
    background-color: #5aa32a;
    color: #fff;
    padding: 7px 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.item-video-list  {
    float: left;
    margin-top: 30px;
}
.img-news-hot {
    float: left;
    position: relative;
    overflow: hidden;
}
.item-video-same{
    float: left;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}
.item-video-same .img-news-hot img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item-video-same  .title-news-hot {
    float: left;
    width: 65%;
    padding-left: 15px;
}
.title-video-right{
    float: left;
    margin-top: 10px;
}
.title-video-right h3 {
    margin: 0px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title-video-right h3 a{
    color: #333;
    font-weight: 400;
}
.time-hot {
    font-style: italic;
    color: #888;
    float: left;
    width: 100%;
    margin-bottom: 1px;
    margin-top: 3px;
    font-size: 12px;
}