
    .hotline-ft, .email-ft{
        position:relative;
        margin-left:20px;
    }
    .hotline-ft:before{
        content: '\f098';
        font-family: 'FontAwesome';
        position: absolute;
        left:-16px;
    }

    .email-ft:before{
        content: '\f0e0';
        font-family: 'FontAwesome';
        position: absolute;
        left:-16px;
    }

    .star-rating {
        color: #f55c10;
    }
