.page-area {
    padding: 0px 0;
    font-family: "Roboto", Arial, sans-serif;
    background-color: #f4f4f4;
}
.my-block-wrap {
    border-radius: 0px;
    margin-bottom: 30px;
}
.modul-name {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}
.box {
    position: relative;
    border-radius: 0px;
    background: #ffffff;
    border-top: 0px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    padding: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.1); 
    padding: 20px;
}
.box-header {
    text-transform: none;
    margin: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    padding: 0 0 10px 0;
    border-bottom: 0px dotted #ddd;
}
.box-body {            
    padding: 0;
}
.profiles {
    padding-bottom: 10px;
}
.profiles .image-logo {
    width: 45px;
    height: 45px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
}
.profiles .name {
    font-size: 13px;
    margin-bottom: 5px;
    color: #333;
    margin-top: 5px;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 300;
}
.profiles h5 {
    margin: 0;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #333;
    overflow: hidden;
}

.my-business-profiles {
    border-top: 1px solid #e6eaee;
    padding: 15px 10px;
    color: #333;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 10px;
    /*text-transform: uppercase;*/
}

.my-business-profiles i {
    font-size: 20px;
    color: #999;
    width: 32px;
    padding-left: 5px;
}

.skin-green-light .sidebar-menu>li>.treeview-menu {
    /*background: #f4f4f4;*/
}
.skin-green-light .sidebar-menu.tree{
    padding-top:10px;
}
.skin-green-light .sidebar-menu>li>a {
    border-left: 0px solid transparent;
    font-weight: normal;
    color: #333;
    padding: 10px
}
.skin-green-light .main-sidebar{
    border-right: none;
}
/*            .skin-green-light .sidebar-menu>li:hover>a, .skin-green-light .sidebar-menu>li.active>a {
                color: #333;
                background: #eee;
            }*/
.skin-green-light .sidebar-menu .treeview-menu>li.active>a {
    font-weight: 500;
}
.skin-green-light .sidebar-menu .treeview-menu>li.active>a, .skin-green-light .sidebar-menu .treeview-menu>li>a:hover {
    color: #000;
}
.skin-green-light .sidebar-menu .treeview-menu>li>a {
    color: #555;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 30px;
    color: #888;
    font-style: 18px;
    text-align: center;
    padding-right: 3px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 10px 0 0 0;
    white-space: nowrap;
}
.glyphicon.glyphicon-eye-open{
    color: #888
}
.main-sidebar-left{
    padding-top: 0px;
    background-color: transparent;
}
.main-header .sidebar-toggle{
    padding: 0px 10px;
}
.wrapper{
    overflow: none;
    background-color: transparent !important;
}
.content-wrapper {
    background-color: #fff;
    /*margin-left: 250px !important;*/
}
.img-circle {
    border-radius: 0%;
    width: 45px;
    height: 45px;
}
.main-header{
    z-index: 999;
    border-bottom: 1px solid #eee;
    /*background-color: #ecf0f5;*/
}
.sidebar {
    padding-bottom: 0px;
}
.main-header .sidebar-toggle:hover {
    color: #72afd2;
}
.skin-green-light .wrapper{
    background: transparent;
}
.skin-green-light .wrapper, .skin-green-light .main-sidebar, .skin-green-light .left-side {
    background-color: transparent;
}
.user-panel {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 0 10px 0 !important;
}
.user-panel>.info{
    padding-top: 2px;
}
.modul-name.main-header a{
    color: #f37021;
}
.name-static{
    font-weight: 400 !important;
} 
.user-panel .info {
    left: 37px !important;
    vertical-align: middle;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right) {
    display: block !important;
    position: absolute;
    width: 222px;
    left: 50px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    display: block !important;
    position: absolute;
    width: 220px;
    left: 50px;
}
.content-wrapper{
    margin-left: 250px;
    z-index: 999;
    position: relative;
    margin-top: 20px;
}
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 55px !important;
        z-index: 840;
    }
}
@media (max-width: 767px){
    .content-wrapper{
        margin-left: 0;
    }
}
.main-sidebar {
    width: 250px !important;
}
.my-business-logout a .my-business-menu-content {
    color: #f37021;
    text-transform: uppercase;
    font-weight: 500;
}
.my-business-logout .fa-user {
    font-size: 20px;
    color: #f37021;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.my-business-logout {
    border-top: 1px solid #e6eaee;
    padding: 15px 10px;
    color: #333;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 10px;
    /* text-transform: uppercase; */
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .my-business-menu-content {
        display: none !important;
        -webkit-transform: translateZ(0);
    }
}
.sidebar-menu>li{
    position: relative;
    z-index: 1;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
    position: relative !important;
    float: right;
    width: auto !important;
    left: 225px !important;
    top: -22px !important;
    z-index: 900;
}