.content-wrapper{
    margin-left: 250px;
}
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 55px !important;
        z-index: 840;
    }
}
@media (max-width: 767px){
    .content-wrapper{
        margin-left: 0;
    }
}
.box-body{
    padding: 0
}
.page-area {
    padding: 20px 0;
    font-family: "Roboto", Arial, sans-serif;
    background-color: #f4f4f4;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    height: 50vh;
    width: 333px;
    background: #FFF;
}
@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        background-color: #fff;
    }
}
.main-header{
    z-index: 999;
    border-bottom: 1px solid #eee;
}
.modul-name {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}
.main-header .sidebar-toggle {
    padding: 0px 10px;
}
.modul-name.main-header a {
    color: #f37021;
}
.wrapper{
    overflow: none;
    background-color: transparent !important;
}
.content-wrapper {
    background-color: #fff;
    /*margin-left: 250px !important;*/
    position: relative;
    z-index: 999;
}
.main-sidebar-left{
    padding-top: 0px;
    background-color: transparent !important;
    border-right: 0 !important;
}
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .my-business-menu-content {
        display: none !important;
        -webkit-transform: translateZ(0);
    }
}
.info{
    margin-top: 0px !important;
    left: 37px !important;
}
.user-panel .info {
    padding-top: 2px !important;
    left: 35px !important;
    vertical-align: middle;
}
.name-static{
    font-weight: 400 !important;
}
.main-sidebar {
    width: 250px !important;
}
.my-business-wrap .my-business-logout a .my-business-menu-content {
    color: #f37021;
    text-transform: uppercase;
    font-weight: 500;
}
.box-header {
    text-transform: none;
    margin: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    padding: 0 0 10px 0 !important;
    border-bottom: 0px dotted #ddd;
}